<div id="container" data-reactid="14">
  <div class="app-wrapper" data-reactroot="" data-reactid="1" data-react-checksum="1921589561">
     <!-- react-empty: 2 -->
      <div class="app-main-nav" data-reactid="3">
        <header class="grid" data-reactid="4">
           <div class="logo-container" data-reactid="5">
              <a class="" data-gtm-name="nav-home"  routerLink = "/" data-reactid="6">
                 <img src = "assets/img/logo_white.png"  class="head_logo" />
              </a>
           </div>
           <nav data-reactid="8">
              <input type="checkbox" class="hamburger" id="main-nav-hamburger"  data-reactid="9" value="on" >
              <label for="main-nav-hamburger" data-reactid="10">
                 <div id="hamburger-button" data-reactid="11"><span data-reactid="12"></span><span data-reactid="13"></span><span data-reactid="14"></span></div>
              </label>
              <ul>
                 <li class="about_hover">
                    <a data-gtm-name="nav-about-us" title="About Us" class="button nav"  routerLink="/aboutus"><span class="" style="border-bottom: 3px solid #71bf44">About Us</span></a>
                    <div class="nav-sublist">
               <input type="checkbox" class="expander" id="expander-0" data-reactid="37"   value="on" >
                      <label for="expander-0" data-reactid="38">

                          <img class="app-icon expand" id="open_submenu" src="assets/img/plus.png" />
                           <img class="app-icon collapse" src="assets/img/minus.png" />

                         <!--  <svg class="app-icon collapse" data-reactid="41">
                             <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                          </svg> -->
                       </label>
                       <ul class="open_aboutus">
                          <li class="" ><a  title="Global Reach" class="button nav"  routerLink = "/globalreach"><span data-reactid="29">Global Reach</span></a></li>
                          <!--<li class=""><a title="Our Team" class="button nav"  routerLink = "/ourteam" ><span data-reactid="32">Our Team</span></a></li>-->
                       </ul>
                    </div>
                 </li>
                 <li class="solutions">
                    <a data-gtm-name="nav-solutions" title="What We Do"  class="button nav" routerLink = "/whatWeDo" data-reactid="34"><span data-reactid="35">What We Do</span></a>
                    <div class="nav-sublist" data-reactid="36">
                       <input type="checkbox" class="expander" id="expander-1" data-reactid="37" value="on">
                       <label for="expander-1" data-reactid="38">
                          <svg class="app-icon expand" data-reactid="39">
                             <use xlink:href="#icon-large-plus" data-reactid="40"></use>
                          </svg>
                          <svg class="app-icon collapse" data-reactid="41">
                             <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                          </svg>
                       </label>
                  <!--      <ul class="open_solutions" >
                          <li class=""><a title="Talent Platform" class="button nav" href="talent-platform.html" data-reactid="45"><span data-reactid="46">Carriers(Mobile Network Operators)</span></a></li>
                          <li class="" data-reactid="47"><a data-gtm-name="nav-m&amp;a-diligence-&amp;-integration" title="M&amp;A Diligence &amp; Integration" class="button nav" href="diligence-integration-support.html" data-reactid="48"><span data-reactid="49">Retailors</span></a></li>
                           <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Manufactures</span></a></li>
                          <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Distributors</span></a></li>
                       </ul> -->
                    </div>
                 </li>
                 <li class="careers">
                  <a data-gtm-name="nav-careers" title="Careers"  class="button nav" routerLink = "/careers" data-reactid="54"><span data-reactid="55">Careers</span></a>
                  <div class="nav-sublist" data-reactid="56">
                  <!--    <input type="checkbox" class="expander" id="expander-2" data-reactid="57" value="on">
                     <label for="expander-2" data-reactid="58">
                        <svg class="app-icon expand" data-reactid="59">
                           <use xlink:href="#icon-large-plus" data-reactid="60"></use>
                        </svg>
                        <svg class="app-icon collapse" data-reactid="61">
                           <use xlink:href="#icon-large-minus" data-reactid="62"></use>
                        </svg>
                     </label> -->
                <!--      <ul class="open_careers">
                        <li class="" data-reactid="64"><a data-gtm-name="nav-lawyers" title="Lawyers" class="button nav" href="lawyers.html" data-reactid="65"><span data-reactid="66">Lawyers</span></a></li>
                        <li class="" data-reactid="67"><a data-gtm-name="nav-contract-management" title="Contract Management" class="button nav" href="contract-management.html" data-reactid="68"><span data-reactid="69">Contract Management</span></a></li>
                        <li class="" data-reactid="70"><a data-gtm-name="nav-business-talent" title="Business Talent" class="button nav" href="business-talent.html" data-reactid="71"><span data-reactid="72">Business Talent</span></a></li>
                     </ul> -->
                  </div>
               </li>

               <li class="careers">
                <a data-gtm-name="nav-careers" title="Blog" class="button nav"  routerLink = "/blog" data-reactid="54"><span data-reactid="55">Blog</span></a>
                <div class="nav-sublist" data-reactid="56">

                </div>
             </li>
                 <li class="" data-reactid="73"><a data-gtm-name="nav-contact-us" title="Contact Us"  class="button nav" routerLink = "/contactus" data-reactid="74"><span data-reactid="75">Contact Us</span></a></li>
              </ul>
           </nav>
        </header>
     </div>


     <div class="router-transition-wrapper" style="opacity: 1;">
      <div class="about-us-page">

          <section class="probootstrap-section">
              <div class="container">
                     <div class="row">
                  <div class="col-lg-12 col-md-12 section-heading probootstrap-animate main_heading">
                    <ul class="text-left with-icon colored">
                           <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> <span>We are a global distributor of triage tested used phones with presence is 21 countries and distributes to 100+ countries.</span></li>
                          <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>  <span>With over two decades of experience in cross border distribution of mobile phones, we have processed over 30 million graded used phones till date.</span></li>
                          <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>  <span>We have ready stock of all Apple models – iPhones and iPads. All the products are triage tested at our own facilities.
          </span></li>
                          <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>  <span>We are the only company in Dubai to have a dedicated facility to inspect phones to your satisfaction before you buy them.</span></li>


                        </ul>


                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12 col-md-12 mb70 section-heading probootstrap-animate">
                    <h2>Office</h2>

                  </div>
                </div>
              <div class="grid executive-container">

         <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">
                           <img src="assets/img/facility/img4.jpg" style="width:100%;height:auto;">
             </div>
        <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">
                   <img src="assets/img/facility/img3.jpg" style="width:100%;height:auto;">
          </div>

          <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">

                      <img src="assets/img/facility/img1.jpg" style="width:100%;height:auto;">

           </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 mb70 section-heading probootstrap-animate">
                <h2>Warehouse</h2>

              </div>
            </div>


          <div class="grid executive-container">

              <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">
                                <img src="assets/img/facility/img2.jpg" style="width:100%;height:auto;">
                  </div>
             <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">
                        <img src="assets/img/facility/img5.jpg" style="width:100%;height:auto;">
               </div>


               </div>





                <div class="row">
                  <div class="col-lg-12 col-md-12 mb70 section-heading probootstrap-animate">
                    <h2>Inspection Area</h2>

                  </div>
                </div>
                <div class="grid executive-container">

                    <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">
                                      <img src="assets/img/facility/img7.jpg" style="width:100%;height:auto;">
                        </div>
                   <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">
                              <img src="assets/img/facility/img8.jpg" style="width:100%;height:auto;">
                     </div>
                     <div class="box col-12_sm-6_lg-4 probootstrap-animate innner_item1">
                        <img src="assets/img/facility/img6.jpg" style="width:100%;height:auto;">
               </div>


                     </div>


                  <div class="row">
                  <div class="col-lg-12 col-md-12 section-heading probootstrap-animate price">
                    <h2>Stock List</h2>
                    <!-- <h2>Price List<span style="margin-left: 10px;color: #7e8890;font-size: 20px;">&nbsp;(*All Prices are in Australian Dollar
                        )</span></h2> -->

                  </div>
                </div>
                <div class="row outer_loop" >
             <div class="col-lg-12 col-md-12 mb70 section-heading probootstrap-animate">
                    <h3>Android Models</h3>
                 <table class="table table-bordered table-striped" style="width:70%;margin:0 auto;border:1px solid #eee;border-collapse: collapse;">

              <thead>
                <tr style="">
                  <th>Model</th>
                  <th>GB</th>
                  <th>A+</th>
                  <th>A</th>
                  <th>AB</th>
                  <th>C</th>
                  <th>SMG</th>
                  <th>L</th>
                  <th>iCloud Lock</th>

                </tr>
              </thead>
              <tbody>

                <tr><td>AQUOS R</td><td>64</td><td></td><td>14</td><td>98</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>AQUOS SERIE</td><td>32</td><td>1</td><td>41</td><td>48</td><td>2</td><td></td><td></td><td></td></tr>
                <tr><td>AQUOS SERIE mini</td><td>16</td><td>3</td><td>2</td><td>11</td><td></td><td></td><td></td><td>7</td></tr>
                <tr><td>AQUOS U</td><td>16</td><td>1</td><td>29</td><td>24</td><td>3</td><td></td><td></td><td></td></tr>
                <tr><td>DIGNO L</td><td>16</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>DIGNO rafre</td><td>16</td><td></td><td>1</td><td>4</td><td>9</td><td></td><td></td><td></td></tr>
                <tr><td>GALAXY A8</td><td>32</td><td>5</td><td>18</td><td>159</td><td>4</td><td>1</td><td></td><td>3</td></tr>
                <tr><td>Galaxy Active neo</td><td>16</td><td>2</td><td></td><td>1</td><td>1</td><td></td><td></td><td></td></tr>
                <tr><td>Galaxy Note Edge</td><td>32</td><td></td><td></td><td>2</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Galaxy Note3</td><td>32</td><td></td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Galaxy S5</td><td>16</td><td></td><td></td><td>1</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Galaxy S6</td><td>32</td><td>1</td><td>31</td><td>74</td><td>28</td><td>3</td><td></td><td></td></tr>
                <tr><td>Galaxy S5 Active</td><td>16</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Galaxy S6</td><td>32</td><td>3</td><td>41</td><td>49</td><td>4</td><td>3</td><td></td><td></td></tr>
                <tr><td>GALAXY S6 edge</td><td>32</td><td>30</td><td>66</td><td>124</td><td>15</td><td>15</td><td></td><td></td></tr>
                <tr><td>GALAXY S6 edge</td><td>64</td><td>2</td><td>36</td><td>63</td><td>7</td><td>1</td><td></td><td></td></tr>
                <tr><td>GALAXY S7 edge</td><td>32</td><td>37</td><td>106</td><td>71</td><td>21</td><td>48</td><td></td><td>2</td></tr>
                <tr><td>Galaxy S7 edge OGE</td><td>32</td><td></td><td>4</td><td>4</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Galaxy S8</td><td>64</td><td>3</td><td>215</td><td>126</td><td>3</td><td>10</td><td></td><td></td></tr>
                <tr><td>Galaxy S8+</td><td>64</td><td></td><td>172</td><td>91</td><td>1</td><td>1</td><td></td><td></td></tr>
                <tr><td>HTC 10</td><td>32</td><td></td><td></td><td>40</td><td>18</td><td></td><td></td><td>2</td></tr>

                <tr><td>isai Beat</td><td>32</td><td></td><td>115</td><td>180</td><td>24</td><td></td><td></td><td></td></tr>
                <tr><td>isai vivid</td><td>32</td><td>1</td><td>2</td><td>20</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>J butterfly</td><td>16</td><td></td><td></td><td></td><td>1</td><td></td><td></td><td></td></tr>
                <tr><td>J butterfly</td><td>32</td><td>2</td><td>3</td><td>14</td><td>13</td><td>1</td><td></td><td>7</td></tr>
                <tr><td>Nexus 5X</td><td>16</td><td>24</td><td>169</td><td>157</td><td>15</td><td>27</td><td></td><td></td></tr>
                <tr><td>Nexus 5X</td><td>32</td><td>18</td><td>62</td><td>69</td><td>6</td><td>5</td><td></td><td></td></tr>
                <tr><td>Nexus 6</td><td>32</td><td>1</td><td>4</td><td>4</td><td></td><td>3</td><td></td><td></td></tr>
                <tr><td>Nexus 7</td><td>64</td><td></td><td>1</td><td>4</td><td>1</td><td>1</td><td></td><td></td></tr>
                <tr><td>Nexus 6P</td><td>32</td><td>37</td><td>65</td><td>61</td><td>14</td><td>9</td><td></td><td></td></tr>
                <tr><td>Pixel</td><td>32</td><td>11</td><td>6</td><td>4</td><td>1</td><td></td><td></td><td></td></tr>
                <tr><td>Pixel XL</td><td>128</td><td></td><td>3</td><td>2</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Qua Phone</td><td>16</td><td></td><td>23</td><td>39</td><td>8</td><td></td><td></td><td></td></tr>
                <tr><td>Qua phone PX</td><td>16</td><td>1</td><td></td><td>1</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Qua phone PX</td><td>32</td><td></td><td>22</td><td>186</td><td>9</td><td></td><td></td><td></td></tr>
                <tr><td>T-01D</td><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>TORQUE G02</td><td>16</td><td>1</td><td>24</td><td>318</td><td>72</td><td></td><td></td><td></td></tr>
                <tr><td>URBANO V02</td><td>16</td><td></td><td></td><td></td><td>1</td><td></td><td></td><td></td></tr>
                <tr><td>Xperia A</td><td>32</td><td></td><td>25</td><td>63</td><td>45</td><td>1</td><td></td><td></td></tr>
                <tr><td>Xperia A4</td><td>16</td><td></td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Xperia M4 Aqua</td><td>8</td><td>1</td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Xperia X Compact</td><td>32</td><td>3</td><td>86</td><td>27</td><td>10</td><td>4</td><td></td><td></td></tr>
                <tr><td>Xperia X Performance</td><td>32</td><td>109</td><td>230</td><td>250</td><td>185</td><td>83</td><td></td><td>1</td></tr>
                <tr><td>Xperia XZ</td><td>32</td><td>40</td><td>210</td><td>250</td><td>150</td><td>57</td><td></td><td>1</td></tr>
                <tr><td>Xperia XZs</td><td>32</td><td>44</td><td>208</td><td>195</td><td>83</td><td>11</td><td></td><td></td></tr>
                <tr><td>Xperia Z1 Compact</td><td>16</td><td></td><td></td><td>2</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Xperia Z2</td><td>32</td><td>7</td><td>6</td><td>30</td><td>5</td><td></td><td></td><td></td></tr>
                <tr><td>Xperia Z3</td><td>16</td><td>1</td><td>1</td><td>1</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Xperia Z4</td><td>32</td><td>24</td><td>160</td><td>233</td><td>146</td><td>7</td><td></td><td></td></tr>
                <tr><td>Xperia Z4</td><td>32</td><td>30</td><td>130</td><td>250</td><td>205</td><td>5</td><td></td><td>23</td></tr>
                <tr><td>Xperia Z5</td><td>32</td><td>185</td><td>190</td><td>165</td><td>250</td><td>12</td><td>1</td><td>3</td></tr>
                <tr><td>Xperia ZL2</td><td>32</td><td>5</td><td>7</td><td>21</td><td>10</td><td></td><td></td><td></td></tr>



              </tbody>
          </table>
          <br/>
                 <h3>Apple Models</h3>
              <h4 style="text-align: center;
              padding-bottom: 12px;
              font-weight: bold;
              letter-spacing: 0.02em;"><span style="color: red;margin-right: 10px;">*</span>Please reach out our sales people for latest prices on Apple models</h4>
                 <table class="table table-bordered table-striped" style="width:70%;margin:0 auto;border:1px solid #eee;border-collapse: collapse;">

              <thead>
                <tr>
                  <th>Model</th>
                  <th>GB</th>
                  <th>A+</th>
                  <th>A</th>
                  <th>AB</th>
                  <th>C</th>
                  <th>SMG</th>
                  <th>L</th>
                  <th>iCloud Lock</th>
                  </tr>
              </thead>
              <tbody>
                <tr><td>I Pad Mini (1st gen)</td><td>16</td><td>8</td><td>23</td><td>12</td><td>1</td><td>7</td><td></td><td></td></tr>
                <tr><td>I Pad Mini (1st gen)</td><td>32</td><td>2</td><td>6</td><td>9</td><td>1</td><td>1</td><td></td><td></td></tr>
                <tr><td>I Pad Mini (1st gen)</td><td>64</td><td>1</td><td>2</td><td>4</td><td>1</td><td></td><td></td><td></td></tr>
                <tr><td>I Pad Mini 2</td><td>16</td><td>25</td><td>52</td><td>21</td><td>10</td><td>4</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 3</td><td>32</td><td></td><td>19</td><td>5</td><td>2</td><td>1</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 4</td><td>64</td><td>13</td><td>35</td><td>2</td><td>8</td><td>2</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 5</td><td>128</td><td></td><td>9</td><td></td><td></td><td>1</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 3</td><td>16</td><td>58</td><td>74</td><td>18</td><td>9</td><td>4</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 4</td><td>64</td><td></td><td>37</td><td>1</td><td>1</td><td>6</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 5</td><td>128</td><td></td><td>17</td><td>1</td><td></td><td>5</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 4</td><td>16</td><td>58</td><td>79</td><td>10</td><td>22</td><td>2</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 5</td><td>32</td><td>10</td><td>10</td><td>1</td><td>2</td><td></td><td></td><td></td></tr>
                <tr><td>I Pad Mini 6</td><td>64</td><td>11</td><td>24</td><td>4</td><td>9</td><td>1</td><td></td><td></td></tr>
                <tr><td>I Pad Mini 7</td><td>128</td><td>22</td><td>45</td><td></td><td>3</td><td></td><td></td><td></td></tr>
                <tr><td>I Pad Mini 4 wifi</td><td>16</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad</td><td>16</td><td>1</td><td>5</td><td>7</td><td>2</td><td></td><td></td><td></td></tr>
                <tr><td>iPad</td><td>32</td><td>1</td><td>3</td><td>10</td><td></td><td>1</td><td></td><td></td></tr>
                <tr><td>iPad</td><td>64</td><td></td><td>2</td><td>2</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad (3rd gen)</td><td>16</td><td></td><td>7</td><td>6</td><td></td><td>3</td><td></td><td></td></tr>
                <tr><td>iPad (3rd gen)</td><td>32</td><td></td><td>5</td><td>9</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad (3rd gen)</td><td>64</td><td></td><td>7</td><td>6</td><td></td><td>1</td><td></td><td></td></tr>
                <tr><td>iPad (4th gen)</td><td>16</td><td></td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad (4th gen)</td><td>32</td><td></td><td></td><td></td><td></td><td>1</td><td></td><td></td></tr>
                <tr><td>iPad (4th gen)</td><td>64</td><td></td><td></td><td>1</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad (5th gen)</td><td>32</td><td>6</td><td>21</td><td>3</td><td>4</td><td>5</td><td></td><td></td></tr>
                <tr><td>iPad (5th gen)</td><td>128</td><td>4</td><td>5</td><td></td><td></td><td>2</td><td></td><td></td></tr>
                <tr><td>iPad 2</td><td>16</td><td></td><td>3</td><td>8</td><td></td><td>1</td><td></td><td></td></tr>
                <tr><td>iPad 3</td><td>32</td><td></td><td>3</td><td>1</td><td></td><td></td><td></td><td></td></tr>

                <tr><td>iPad 3</td><td>64</td><td></td><td>1</td><td>10</td><td></td><td>1</td><td></td><td></td></tr>
                <tr><td>iPad Air</td><td>16</td><td>38</td><td>68</td><td>19</td><td>13</td><td>11</td><td></td><td></td></tr>
                <tr><td>iPad Air</td><td>32</td><td>24</td><td>28</td><td>23</td><td>8</td><td></td><td>1</td><td></td></tr>
                <tr><td>iPad Air</td><td>64</td><td></td><td>13</td><td></td><td></td><td>1</td><td></td><td></td></tr>
                <tr><td>iPad Air</td><td>128</td><td></td><td>14</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad Air 2</td><td>16</td><td>142</td><td>74</td><td>19</td><td>15</td><td>1</td><td></td><td></td></tr>
                <tr><td>iPad Air 3</td><td>32</td><td>14</td><td>13</td><td>5</td><td>2</td><td></td><td></td><td></td></tr>
                <tr><td>iPad Air 4</td><td>64</td><td>54</td><td>33</td><td>9</td><td>12</td><td></td><td></td><td></td></tr>
                <tr><td>iPad Air 5</td><td>128</td><td>9</td><td>11</td><td>2</td><td>12</td><td></td><td></td><td></td></tr>
                <tr><td>iPad Pro - 10.5"</td><td>64</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad Pro - 10.5"</td><td>256</td><td></td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad Pro - 12.9" (2nd gen)</td><td>64</td><td></td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad Pro - 9.7"</td><td>32</td><td>20</td><td>14</td><td></td><td>3</td><td>1</td><td>1</td><td></td></tr>
                <tr><td>iPad Pro - 9.7"</td><td>128</td><td>10</td><td>24</td><td>7</td><td>3</td><td></td><td></td><td></td></tr>
                <tr><td>iPad Pro - 9.7"</td><td>230</td><td></td><td>1</td><td></td><td>2</td><td></td><td></td><td></td></tr>
                <tr><td>iPad wifi</td><td>16</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPad wifi</td><td>64</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>iPhone 4S</td><td>16</td><td>1</td><td>11</td><td>23</td><td>7</td><td>2</td><td></td><td></td></tr>
                <tr><td>iPhone 5</td><td>16</td><td>2</td><td>31</td><td>178</td><td>39</td><td>1</td><td>1</td><td>6</td></tr>
                <tr><td>iPhone 6</td><td>32</td><td></td><td></td><td>7</td><td>5</td><td></td><td>2</td><td>4</td></tr>
                <tr><td>iPhone 7</td><td>64</td><td>1</td><td>3</td><td>21</td><td>9</td><td></td><td></td><td>3</td></tr>
                <tr><td>iPhone 5c</td><td>16</td><td>64</td><td>54</td><td>88</td><td>34</td><td>1</td><td>21</td><td>8</td></tr>
                <tr><td>iPhone 5c</td><td>32</td><td></td><td>9</td><td>10</td><td>5</td><td>1</td><td>1</td><td>2</td></tr>
                <tr><td>iPhone 5s</td><td>16</td><td>172</td><td>180</td><td>210</td><td>33</td><td>19</td><td>19</td><td>9</td></tr>
                <tr><td>iPhone 5s</td><td>32</td><td>3</td><td>56</td><td>119</td><td>26</td><td>5</td><td>129</td><td>15</td></tr>
                <tr><td>iPhone 5s</td><td>64</td><td></td><td>20</td><td>53</td><td>2</td><td>1</td><td></td><td>6</td></tr>
                <tr><td>iPhone 6</td><td>16</td><td>23</td><td>205</td><td>195</td><td>11</td><td>83</td><td>218</td><td>59</td></tr>
                <tr><td>iPhone 7</td><td>64</td><td>24</td><td>245</td><td>240</td><td>221</td><td>18</td><td>235</td><td>105</td></tr>
                <tr><td>iPhone 8</td><td>128</td><td>18</td><td>126</td><td>316</td><td>23</td><td>28</td><td></td><td>20</td></tr>
                <tr><td>iPhone 6 Plus</td><td>16</td><td>45</td><td>123</td><td>211</td><td>32</td><td>22</td><td>8</td><td>27</td></tr>
                <tr><td>iPhone 6 Plus</td><td>64</td><td>22</td><td>130</td><td>250</td><td>119</td><td>36</td><td></td><td>41</td></tr>
                <tr><td>iPhone 6 Plus</td><td>128</td><td>14</td><td>40</td><td>165</td><td>29</td><td>18</td><td>6</td><td>13</td></tr>
                <tr><td>iPhone 6s</td><td>16</td><td>121</td><td>225</td><td>250</td><td>240</td><td>44</td><td>210</td><td>116</td></tr>
                <tr><td>iPhone 6s</td><td>32</td><td>3</td><td>18</td><td>17</td><td>2</td><td></td><td>22</td><td></td></tr>
                <tr><td>iPhone 6s</td><td>64</td><td>20</td><td>215</td><td>250</td><td>220</td><td>129</td><td>250</td><td>74</td></tr>
                <tr><td>iPhone 6s</td><td>128</td><td>17</td><td>151</td><td>190</td><td>182</td><td>64</td><td>35</td><td>5</td></tr>
                <tr><td>iPhone 6s Plus</td><td>16</td><td>2</td><td>10</td><td>21</td><td>30</td><td>10</td><td>67</td><td>8</td></tr>
                <tr><td>iPhone 6s Plus</td><td>64</td><td>5</td><td>16</td><td>102</td><td>32</td><td>37</td><td>196</td><td>19</td></tr>
                <tr><td>iPhone 6s Plus</td><td>128</td><td>1</td><td>30</td><td>70</td><td>79</td><td>9</td><td></td><td>3</td></tr>
                <tr><td>iPhone 7</td><td>32</td><td>18</td><td>220</td><td>230</td><td>225</td><td>115</td><td>231</td><td>79</td></tr>
                <tr><td>iPhone 8</td><td>128</td><td>151</td><td>250</td><td>250</td><td>212</td><td>144</td><td>225</td><td>104</td></tr>
                <tr><td>iPhone 9</td><td>235</td><td>89</td><td>211</td><td>185</td><td>67</td><td>63</td><td>85</td><td>5</td></tr>
                <tr><td>iPhone 7 Plus</td><td>32</td><td>9</td><td>84</td><td>148</td><td>11</td><td>12</td><td>139</td><td>3</td></tr>
                <tr><td>iPhone 7 Plus</td><td>128</td><td>172</td><td>150</td><td>250</td><td>32</td><td>134</td><td>210</td><td>12</td></tr>
                <tr><td>iPhone 7 Plus</td><td>150</td><td>110</td><td>36</td><td>170</td><td>33</td><td>48</td><td>46</td><td>12</td></tr>
                <tr><td>iPhone 8</td><td>64</td><td>27</td><td>26</td><td>7</td><td>8</td><td>5</td><td>188</td><td>1</td></tr>
                <tr><td>iPhone 9</td><td>256</td><td>3</td><td>7</td><td>23</td><td>9</td><td></td><td></td><td>4</td></tr>
                <tr><td>iPhone 8 Plus</td><td>64</td><td>1</td><td>4</td><td>7</td><td>1</td><td></td><td></td><td>1</td></tr>
                <tr><td>iPhone 8 Plus</td><td>256</td><td>2</td><td>3</td><td>7</td><td>1</td><td></td><td></td><td>2</td></tr>

                <tr><td>iPhone SE</td><td>16</td><td>62</td><td>150</td><td>175</td><td>84</td><td></td><td>4</td><td>20</td></tr>
                <tr><td>iPhone SE</td><td>32</td><td>6</td><td>25</td><td>61</td><td>8</td><td></td><td>31</td><td></td></tr>
                <tr><td>iPhone SE</td><td>64</td><td>34</td><td>190</td><td>250</td><td>226</td><td>8</td><td>9</td><td>13</td></tr>
                <tr><td>iPhone SE</td><td>128</td><td></td><td>5</td><td>27</td><td>11</td><td></td><td></td><td>1</td></tr>
                <tr><td>iPhone X</td><td>64</td><td>40</td><td>4</td><td>8</td><td>2</td><td>2</td><td>95</td><td>1</td></tr>
                <tr><td>iPhone X</td><td>150</td><td></td><td>4</td><td>5</td><td>1</td><td>1</td><td></td><td></td></tr>


              </tbody>
            </table>
              </div>
              <br/>
                </div>




            <!--     <div class="row">
                  <div class="col-md-4 col-md-offset-4 probootstrap-animate">
                    <p class="text-center">
                      <a href="#" class="btn btn-primary btn-lg btn-block" role="button">View All Services</a>
                    </p>
                  </div>
                </div> -->
              </div>
            </section>
            </div>
      <div class="section" style="width:100%;background: #eee;"  >
          <!-- <div class="contact" id="contact" style="    width: 70%;
          margin: 0 auto;">
          <br/>
            <div class="container">
              <div class="col-md-offset-1 col-md-10">
                <h2 style="color: white;background: black;text-align: center;">Contact Us<i class="fa fa-paper-plane-o"></i></h2>
                 <div class="whatsapp_wrapper">

                    <div class="row">
                    <div style="width:100%;display: block;margin: 0 auto;padding: 10px;">
                      <div class="col-md-12 heading">
                      <p> please click below WhatsApp to start conversation with one of our sales representatives</p>
                    </div>
                    <div class="grid executive-container">
                  <div class="box col-12_lg-10" style="border: 1px solid #eee;width:60%;margin:0 auto;">
                    <div class="box col-12_lg-6 whatsapp_container_left" style="width:50%;float: left;">
                    <h4>Mohammud Nasir</h4>
                    <h4><a href="https://wa.me/971563759666"><img src="http://creativereliance.com/emailer_invitations/whatsapp.png" width="20" />+971563759666</a></h4>
                    <hr class="hidden-xs hidden-sm"  style="color: #eee;"/>
                     <h4>Naru Gopal Sahoo</h4>
                     <h4><a href="https://wa.me/971543214385"><img src="http://creativereliance.com/emailer_invitations/whatsapp.png" width="20" />+971543214385</a></h4>
                   </div>
                   <div class="box col-12_lg-6 " style="float: left;width: 50%;">
                     <h4>Shyam Kishore Sharma</h4>
                      <h4><a href="https://wa.me/971543214387"><img src="http://creativereliance.com/emailer_invitations/whatsapp.png" width="20" />+971543214387</a></h4>
                      <hr class="hidden-xs hidden-sm" />
                      <h4>Sheeba Aravind</h4>
                       <h4><a href="https://wa.me/6596877992"><img src="http://creativereliance.com/emailer_invitations/whatsapp.png" width="20" />+6596877992</a></h4>
                     </div>
                     </div>
                     </div>
                 </div>
                   </div>
               </div>
              </div>

            </div><br/><br/>
          </div> -->
          <div class="contact" id="contact" style="width:70%;margin:0 auto;">
            <br/>
            <div class="container">
              <div class="col-md-offset-1 col-md-10">
                <h2 style="background: black;color: white;text-align: center;">Locate Us<i class="fa fa-paper-plane-o"></i></h2>
            <a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.952755419352!2d103.8836766!3d1.3332426!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3240459591a09d44!2sMercantile+Pacific+Asia+Pte.+Ltd.!5e0!3m2!1sen!2sin!4v1546430125066" target="_blank">  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.952755419352!2d103.8836766!3d1.3332426!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3240459591a09d44!2sMercantile+Pacific+Asia+Pte.+Ltd.!5e0!3m2!1sen!2sin!4v1546430125066" frameborder="0" style="border:0;width:100%" allowfullscreen></iframe></a>
              </div>

            </div><br/><br/>
          </div>
      </div>
      </div>


<footer class="app-footer inverse-theme"  id="includedContent">
    <div class="footer-container" data-reactid="286">
           <div class="grid navigation-menu" data-reactid="287">
              <div class="col-4" data-reactid="288">
                 <a class="" data-gtm-name="nav-home" routerLink = "/" data-reactid="289">
                   <img src = "assets/img/logo_white.png"  class="mobile_img_width"/>
                 </a>
              </div>
              <div class="col-4" data-reactid="291"></div>
              <div class="col-4" data-reactid="292">
                 <a class="back-to-top" data-gtm-name="footer-back-to-top" data-reactid="293" >
                    <!-- react-text: 294 -->Back to top <!-- /react-text --><span id="return-to-top" class="up-arrow" data-reactid="295"></span>
                 </a>
              </div>
           </div>
           <div class="grid primary-menu" data-reactid="296">
              <div class="col-12_md-5" data-reactid="297">
                 <div data-reactid="298">
                    <h4 data-reactid="299">Contact</h4>
                    <p class="footer-caption" data-reactid="300">Have a question, idea<br>or want to work together?</p>
                    <div data-reactid="301"><a data-gtm-name="footer-contact-us" title="Contact Us" class="button primary inverse"  routerLink = "/contactus" data-reactid="302"><span data-reactid="303">Contact Us</span></a>
                      <a data-gtm-name="footer-contact-us" title="Contact Sales"
                                  class="button primary inverse"  routerLink = "/contactsales"
                                   data-reactid="302"><span data-reactid="303">Contact Sales</span>
                                 </a></div>
                 </div>
              </div>
              <div class="col-12_md-7 grid primary-menu-columns" data-reactid="304">
                 <div class="col-6_sm-4" data-reactid="305">
                    <h4 data-reactid="306">Company</h4>
                    <ul data-reactid="307">
                       <li class="menu-item footer-item" data-reactid="308"><a data-gtm-name="footer-our-team" title="Our Team" class="button text inverse" routerLink = "/globalreach" data-reactid="309"><span data-reactid="310">Global Reach</span></a></li>
                       <li class="menu-item footer-item" data-reactid="311"><a data-gtm-name="footer-our-story" title="Our Story" class="button text inverse"  routerLink = "/ourteam" data-reactid="312"><span data-reactid="313">Our Team</span></a></li>
                  <!--      <li class="menu-item footer-item" data-reactid="314"><a data-gtm-name="footer-our-locations" title="Our Locations" class="button text inverse" href="https://www.axiomlaw.com/about-us/global-reach" data-reactid="315"><span data-reactid="316">Our Locations</span></a></li> -->
                    </ul>
                 </div>
                 <div class="col-6_sm-5" data-reactid="317">
                    <h4 data-reactid="318">What We Do</h4>
                    <ul data-reactid="319">
                       <li class="menu-item footer-item" data-reactid="320"><a data-gtm-name="footer-talent-platform" title="Carriers" class="button text inverse" routerLink = "/whatWeDo" data-reactid="321"><span data-reactid="322">Carriers</span></a></li>
                       <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Retailers" class="button text inverse"  routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Retailers</span></a></li>
                        <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Manufacturers" class="button text inverse"  routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Manufacturers</span></a></li>
                       <li class="menu-item footer-item" data-reactid="326"><a data-gtm-name="footer-m&amp;a-diligence-&amp;-integration" title="Distributors" class="button text inverse"  routerLink = "/whatWeDo" data-reactid="327"><span data-reactid="328">Distributors</span></a></li>
                    </ul>
                 </div>
         <div class="col-6_sm-3 jobs-section" data-reactid="329">
                    <h4 data-reactid="330">Jobs</h4>
                    <p data-reactid="331">Find your place on our&nbsp;team.</p>
                    <a data-gtm-name="footer-search-jobs" title="Search Jobs" class="button text cta inverse"  routerLink = "/careers" data-reactid="332"><span data-reactid="333">Search Jobs</span></a>
                 </div>
              </div>
           </div>
           <div class="grid-noGutter secondary-menu" data-reactid="334">
              <ul class="col-12_md-8_sm-4 secondary-menu-links" data-reactid="335">
                 <li class="menu-item copyright" data-reactid="336">
                    <!-- react-text: 337 -->©<!-- /react-text --><!-- react-text: 338 -->2018<!-- /react-text --><!-- react-text: 339 --> Mercantile All Rights Reserved.<!-- /react-text -->
                 </li>
          <li class="menu-item" data-reactid="340"><a data-gtm-name="footer-privacy-policy" title="Privacy Policy" class="button nav"  routerLink = "/cookiepolicy" data-reactid="341"><span data-reactid="342">Cookie Policy</span></a></li>
                 <li class="menu-item" data-reactid="343"><a data-gtm-name="footer-code-of-conduct" title="Code of Conduct" class="button nav" routerLink ="/termscondtions"  data-reactid="344"><span data-reactid="345">Terms and Conditions</span></a></li>

              </ul>


     <div class="social-channels mob_space col-12_md-4_sm-8" data-reactid="348">
  <ul data-reactid="349">
  <li data-reactid="350">

      <a href="https://www.facebook.com/MercantilePacificPteLtd/" target = "_blanck" class="fa fa-facebook"></a>

  </li>
  <li data-reactid="354">

     <a href="https://www.linkedin.com/company/13698015/"  target = "_blanck" class="fa fa-linkedin"></a>

  </li>
  <li data-reactid="358">

      <a href="https://twitter.com/mercantileltd" target = "_blanck" class="fa fa-twitter"></a>

  </li>

  </ul>
  </div>
  </div>
        </div>
     </footer>
