<div id="container" data-reactid="14">
  <div class="app-wrapper" data-reactroot="" data-reactid="1" data-react-checksum="1921589561">
     <!-- react-empty: 2 -->
  <div class="app-main-nav">
        <header class="grid">
           <div class="logo-container" data-reactid="5">
              <a class="" routerLink = "/" (click)="onActivate($event)">
                 <img src = "assets/img/logo_white.png"  class="head_logo" />
              </a>
           </div>
           <nav>
              <input type="checkbox" class="hamburger" [ngClass]="{'hamburger open':open_menu}" id="main-nav-hamburger" data-reactid="9" value="on" (click)="openMenu()">
              <label for="main-nav-hamburger" data-reactid="10">
                 <div id="hamburger-button" data-reactid="11"><span data-reactid="12"></span><span data-reactid="13"></span><span data-reactid="14"></span></div>
              </label>
              <ul id="display_menu">
                 <li class="about_hover">
                    <a data-gtm-name="nav-about-us" (click)="onActivate($event)" id="about_menu" title="About Us" class="button nav" routerLink="/aboutus" ><span class="">About Us</span></a>
                    <div class="nav-sublist">
                         <input type="checkbox" class="expander" id="expander-0"  [ngClass]="{'expander expanded':open_submenu}" data-reactid="37" value="on" (click)="openSubmenu()">
                      <label for="expander-0" data-reactid="38">

                          <img class="app-icon expand" id="open_submenu" src="assets/img/plus.png" />
                           <img class="app-icon collapse" src="assets/img/minus.png" />

                         <!--  <svg class="app-icon collapse" data-reactid="41">
                             <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                          </svg> -->
                       </label>
                       <ul class="open_aboutus">
                          <li class="" ><a  title="Global Reach" (click)="onActivate($event)" class="button nav" routerLink = "/globalreach"><span class="sub_menu">Global Reach</span></a></li>
                          <!--<li class=""><a title="Our Team" (click)="onActivate($event)" class="button nav" routerLink = "/ourteam" ><span data-reactid="32">Our Team</span></a></li>-->
                       </ul>
                    </div>
                 </li>
                 <li class="solutions">
                    <a data-gtm-name="nav-solutions" (click)="onActivate($event)" title="What We Do" class="button nav" routerLink = "/whatWeDo" data-reactid="34"><span data-reactid="35">What We Do</span></a>
                    <div class="nav-sublist" data-reactid="36">
                    <!--    <input type="checkbox" class="expander" id="expander-1" data-reactid="37" value="on">
                       <label for="expander-1" data-reactid="38">
                          <svg class="app-icon expand" data-reactid="39">
                             <use xlink:href="#icon-large-plus" data-reactid="40"></use>
                          </svg>
                          <svg class="app-icon collapse" data-reactid="41">
                             <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                          </svg>
                       </label> -->
                  <!--      <ul class="open_solutions" >
                          <li class=""><a title="Talent Platform" class="button nav" href="talent-platform.html" data-reactid="45"><span data-reactid="46">Carriers(Mobile Network Operators)</span></a></li>
                          <li class="" data-reactid="47"><a data-gtm-name="nav-m&amp;a-diligence-&amp;-integration" title="M&amp;A Diligence &amp; Integration" class="button nav" href="diligence-integration-support.html" data-reactid="48"><span data-reactid="49">Retailors</span></a></li>
                           <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Manufactures</span></a></li>
                          <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Distributors</span></a></li>
                       </ul> -->
                    </div>
                 </li>
          <li class="careers">
                    <a data-gtm-name="nav-careers"  (click)="onActivate($event)" title="Careers" class="button nav" routerLink = "/careers" data-reactid="54"><span data-reactid="55">Careers</span></a>
                    <div class="nav-sublist" data-reactid="56">
                    <!--    <input type="checkbox" class="expander" id="expander-2" data-reactid="57" value="on">
                       <label for="expander-2" data-reactid="58">
                          <svg class="app-icon expand" data-reactid="59">
                             <use xlink:href="#icon-large-plus" data-reactid="60"></use>
                          </svg>
                          <svg class="app-icon collapse" data-reactid="61">
                             <use xlink:href="#icon-large-minus" data-reactid="62"></use>
                          </svg>
                       </label> -->
                  <!--      <ul class="open_careers">
                          <li class="" data-reactid="64"><a data-gtm-name="nav-lawyers" title="Lawyers" class="button nav" href="lawyers.html" data-reactid="65"><span data-reactid="66">Lawyers</span></a></li>
                          <li class="" data-reactid="67"><a data-gtm-name="nav-contract-management" title="Contract Management" class="button nav" href="contract-management.html" data-reactid="68"><span data-reactid="69">Contract Management</span></a></li>
                          <li class="" data-reactid="70"><a data-gtm-name="nav-business-talent" title="Business Talent" class="button nav" href="business-talent.html" data-reactid="71"><span data-reactid="72">Business Talent</span></a></li>
                       </ul> -->
                    </div>
                 </li>

                 <li class="careers">
                  <a data-gtm-name="nav-careers" title="Blog" class="button nav" (click)="onActivate($event)" routerLink = "/blog" data-reactid="54"><span data-reactid="55">Blog</span></a>
                  <div class="nav-sublist" data-reactid="56">

                  </div>
               </li>
                 <li class="" data-reactid="73"><a data-gtm-name="nav-contact-us" (click)="onActivate($event)" title="Contact Us" class="button nav"  routerLink = "/contactus" data-reactid="74"><span data-reactid="75">Contact Us</span></a></li>
              </ul>
           </nav>
        </header>
     </div>

   <div class="app-content" data-reactid="76">
      <div class="accept_cookie_wrapper" id="accept_cookie_wrapper" *ngIf="showpopup">
          <div class="cookie-bar-copy-con">
              <div class="cookie-bar__title">
                Cookies
              </div>
              <div class="cookie-bar-copy">
                We use cookies to ensure we give you the best experience on our website.
              </div>
              <div class="cookie-bar-copy">
                If you continue without changing your browser settings, we'll assume you are happy to receive all cookies on our website. You can change your cookie settings in your browser at any time. <a target="_blank" href="" style="color:white;" routerLink = "/cookiepolicy">Find out more about how we use cookies.</a>
              </div>
            </div>
            <div class="cookie-bar__action-con">
  <div class="cookie-bar__button" (click)="checkCookie()" id="close-cookies">
    I accept
  </div>
  <a target="_blank" href="" routerLink = "/cookiepolicy">Find out more</a>
</div>
        </div>
<div class="router-transition-wrapper" style="opacity: 1;">
<div class="regulatory-response-page">
  <!-- react-empty: 2376 -->
  <div class="masthead-container subpage">
     <div class="masthead">
        <div class="grid-column-middle" style="text-align: center;">
           <h2 class="col-10_md-8_lg-6 heading">Device lifecycle management</h2>
           <p class="subheading col-10_md-8_lg-6">Mercantile provides complete life cycle management services across Mobiles, IT and electronics with state of the art grading centers and purpose-built platforms.</p>
        </div>
     </div>
  </div>
  <div class="solution-hook">
     <div class="solution-hook-content grid-center">
        <div class="col-10_md-4 grid-middle-noGutter">
           <div class="hook-problem">Physical facilities in 8 countries.</div>
        </div>
        <div class="col sep-line"></div>
        <div class="col-10_md-4 grid-middle">
           <div class="hook-problem">Offline and Online Auction houses.</div>
        </div>
          <div class="col sep-line custome_line"></div>
        <div class="col-10_md-4 grid-middle">
           <div class="hook-problem">B2B and B2C Online market sellers.</div>
        </div>
        <div class="col-12_md-1"></div>
     </div>
  </div>
  <div class="masthead-container subpage">
     <div class="masthead">
        <div class="grid-column-middle">
           <h2 class="col-10_md-8_lg-6 heading">DLCM</h2>
           <p class="subheading col-10_md-8_lg-6">We manage our partners’ global reverse logistics with Device Lifecycle Management</p>
        </div>
     </div>
  </div>
  <div class="solutions-container">
     <div class="solutions-graphic">
        <div class="shape" id="shape">
           <svg class="app-icon first_rhombo" id="first_rhombo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.87 245.03">
              <path class="diamond" d="M218.67,4.45,405.39,116.77c5.59,3.19,6.21,7.72.35,12.07L216.54,241.72c-5.15,3.74-15.89,4.88-22.36.35L6.12,129.73c-5.77-3.73-8.43-7-3.64-11.54L194,2.82C201.19-1.18,209.71-1.18,218.67,4.45Z"></path>
           </svg>
           <h4 style="">Pricing and analytics</h4>
           <div class="desc rhombus_class" id="rhombus_class">
              <div class="line"></div>
              <p>Analyze the historical prices and predict future pricing of pre-owned devices to offer FPCs on devices and provide businesses with insights for running profitable trade-in programs.</p>
           </div>
        </div>

        <div class="shape" id="shape">
           <svg class="app-icon first_rhombo" id="first_rhombo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.87 245.03">
              <path class="diamond" d="M218.67,4.45,405.39,116.77c5.59,3.19,6.21,7.72.35,12.07L216.54,241.72c-5.15,3.74-15.89,4.88-22.36.35L6.12,129.73c-5.77-3.73-8.43-7-3.64-11.54L194,2.82C201.19-1.18,209.71-1.18,218.67,4.45Z"></path>
           </svg>
           <h4>Device Buy-Back</h4>
           <div class="desc rhombus_class" id="rhombus_class">
              <div class="line"></div>
              <p>Customized web/app platform for optimal pricing, device evaluation, integration and shipping.</p>
           </div>
        </div>
        <div class="shape" id="shape">
           <svg class="app-icon first_rhombo" id="first_rhombo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.87 245.03">
              <path class="diamond" d="M218.67,4.45,405.39,116.77c5.59,3.19,6.21,7.72.35,12.07L216.54,241.72c-5.15,3.74-15.89,4.88-22.36.35L6.12,129.73c-5.77-3.73-8.43-7-3.64-11.54L194,2.82C201.19-1.18,209.71-1.18,218.67,4.45Z"></path>
           </svg>
           <h4>Grading and Logistics</h4>
           <div class="desc rhombus_class" id="rhombus_class">
              <div class="line"></div>
              <p>Use of tested sanitization methods and stringent QC and QA inspection to ensure accurate grading process. Coordinate end-to-end shipping of devices via serialized tracking and automated verification of shipping records. </p>
           </div>
        </div>
        <div class="shape">
           <svg class="app-icon first_rhombo" id="first_rhombo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.87 245.03">
              <path class="diamond" d="M218.67,4.45,405.39,116.77c5.59,3.19,6.21,7.72.35,12.07L216.54,241.72c-5.15,3.74-15.89,4.88-22.36.35L6.12,129.73c-5.77-3.73-8.43-7-3.64-11.54L194,2.82C201.19-1.18,209.71-1.18,218.67,4.45Z"></path>
           </svg>
           <h4 style="color:#929090">Resell</h4>
           <div class="desc rhombus_class">
              <div class="line"></div>
              <p>Managing comprehensive distribution channel with omni channel coverage reaching B2B and B2C market sellers</p>
           </div>
        </div>
       <div class="shape" id="shape">
           <svg class="app-icon first_rhombo" id="first_rhombo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.87 245.03">
              <path class="diamond" d="M218.67,4.45,405.39,116.77c5.59,3.19,6.21,7.72.35,12.07L216.54,241.72c-5.15,3.74-15.89,4.88-22.36.35L6.12,129.73c-5.77-3.73-8.43-7-3.64-11.54L194,2.82C201.19-1.18,209.71-1.18,218.67,4.45Z"></path>
           </svg>
           <h4 style="color: #A3ABB7;">Recycle</h4>
           <div class="desc rhombus_class" id="rhombus_class">
              <div class="line"></div>
              <p>Ensure responsible recycling of devices which do not pass grading process.</p>
           </div>
        </div>
     </div>
     <div class="solutions-graphic-mobile">
        <div class="solutions-content-container">
           <h4>Pricing and analytics</h4>
           <div class="solutions-expander">
              <input type="checkbox" class="expander" id="expander-1" value="on" (click)="price_analytics()">
              <label for="expander-1">
                <img class="app-icon expand" src="assets/img/plus.png" style="    width: 33px; height: 25px; margin-top: 14px;">
              <img class="app-icon collapse" src="assets/img/minus.png" style="    width: 33px;height: 25px; margin-top: 14px;">
              </label>
              <div class="desc">
                 <p>Analyze the historical prices and predict future pricing of pre-owned devices to offer FPCs on devices and provide businesses with insights for running profitable trade-in programs.</p>
              </div>
           </div>
        </div>
        <div class="solutions-content-container">
           <h4>Device Buy-Back</h4>
           <div class="solutions-expander">
              <input type="checkbox" class="expander" id="expander-2" value="on" (click)="buy_back()">
              <label for="expander-2">
                <img class="app-icon expand" src="assets/img/plus.png" style="    width: 33px; height: 25px; margin-top: 14px;">
              <img class="app-icon collapse" src="assets/img/minus.png" style="    width: 33px;height: 25px; margin-top: 14px;">
              </label>
              <div class="desc">
                 <p>Customized web/app platform for optimal pricing, device evaluation, integration and shipping.</p>
              </div>
           </div>
        </div>
        <div class="solutions-content-container">
           <h4>Grading and Logistics</h4>
           <div class="solutions-expander">
              <input type="checkbox" class="expander" id="expander-3" value="on" (click)="grading()">
              <label for="expander-3">
                <img class="app-icon expand" src="assets/img/plus.png" style="    width: 33px; height: 25px; margin-top: 14px;">
              <img class="app-icon collapse" src="assets/img/minus.png" style="    width: 33px;height: 25px; margin-top: 14px;">
              </label>
              <div class="desc">
                 <p>Use of tested sanitization methods and stringent QC and QA inspection to ensure accurate grading process. Coordinate end-to-end shipping of devices via serialized tracking and automated verification of shipping records.</p>
              </div>
           </div>
        </div>
        <div class="solutions-content-container">
           <h4>Resell</h4>
           <div class="solutions-expander">
              <input type="checkbox" class="expander" id="expander-4" value="on" (click)="resell()">
              <label for="expander-4">
                 <img class="app-icon expand" src="assets/img/plus.png" style="    width: 33px; height: 25px; margin-top: 14px;">
              <img class="app-icon collapse" src="assets/img/minus.png" style="    width: 33px;height: 25px; margin-top: 14px;">
              </label>
              <div class="desc">
                 <p>Managing comprehensive distribution channel with omni channel coverage reaching B2B and B2C market sellers.</p>
              </div>
           </div>
        </div>
         <div class="solutions-content-container">
           <h4>Recycle</h4>
           <div class="solutions-expander">
              <input type="checkbox" class="expander" id="expander-5" value="on" (click)="recycle()">
              <label for="expander-5">
                 <img class="app-icon expand" src="assets/img/plus.png" style="    width: 33px; height: 25px; margin-top: 14px;">
              <img class="app-icon collapse" src="assets/img/minus.png" style="    width: 33px;height: 25px; margin-top: 14px;">
              </label>
              <div class="desc">
                 <p>EEnsure responsible recycling of devices which do not pass grading process.</p>
              </div>
           </div>
        </div>
     </div>
     <div class="solutions-chart">
        <div class="table">
           <h3>How we help:</h3>
           <div class="table-row grid">
              <div class="table-column-headings"><span>Pricing Feed</span></div>
              <div class="table-column-headings">
                 <div class="arrows">
              <i class="app-icon icon-desktop right_icon fa fa-angle-right"  aria-hidden="true"></i>
                                      </div>
                 <span>Device Evaluation</span>
              </div>
              <div class="table-column-headings">
                 <div class="arrows">
                     <i class="app-icon icon-desktop right_icon fa fa-angle-right"  aria-hidden="true"></i>
                 </div>
                 <span>System Integration</span>
              </div>
              <div class="table-column-headings">
                 <div class="arrows">
                        <i class="app-icon icon-desktop right_icon fa fa-angle-right"  aria-hidden="true"></i>
                <!--     <svg class="app-icon icon-desktop">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-caret"></use>
                    </svg>
                    <svg class="app-icon icon-mobile">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-caret"></use>
                    </svg> -->
                 </div>
                 <span>Logistics</span>
              </div>
              <div class="table-column-headings">
                 <div class="arrows">
                        <i class="app-icon icon-desktop right_icon fa fa-angle-right"  aria-hidden="true"></i>

                 </div>
                 <span>Warehousing</span>
              </div>
           </div>
        </div>
      <!--   <div class="solutions-buttons">
           <div class="gdpr-readiness"><a href="http://go.axiomlaw.com/gdpr" target="_blank" class="button text cta" data-gtm-name="gdpr-readiness"><span>Prepare for GDPR</span></a></div>
           <div class="brexitbridge"><a href="http://go.axiomlaw.com/brexit" target="_blank" class="button text cta" data-gtm-name="brexitbrdige"><span>Prepare for Brexit</span></a></div>
        </div> -->
     </div>
  </div>
<!--    <div class="stat-counter">
     <div class="stat-counter-content grid-center">
        <div class="stat-item col-8_md-3">
           <div class="dynamic"><span class="value">1000</span><span class="suffix">+</span></div>
           <p class="label">Financial Services lawyers and contracts specialists</p>
        </div>
        <div class="col sep-line"></div>
        <div class="stat-item col-8_md-3">
           <div class="dynamic"><span class="value">100</span><span class="suffix">%</span></div>
           <p class="label">of top 10 investment banks are&nbsp;clients</p>
        </div>
        <div class="col sep-line"></div>
        <div class="stat-item col-8_md-3">
           <div class="dynamic"><span class="value">100</span><span class="suffix">+</span></div>
           <p class="label">Large-scale contract review and remediation projects&nbsp;completed</p>
        </div>
     </div>
  </div> -->
<!--      <div class="cta">
     <div class="cta-content grid-center-noGutter">
        <div class="col-12_md-10">
           <h5 class="heading">Tackle regulations.</h5>
           <h5 class="subheading">Build for scale.</h5>
           <a data-gtm-name="get-in-touch" class="button primary" href="contact-us.html"><span>Get in Touch</span></a>
        </div>
     </div>
  </div> -->
</div>
</div>
</div>

<footer class="app-footer inverse-theme"  id="includedContent">
  <div class="footer-container" data-reactid="286">
         <div class="grid navigation-menu" data-reactid="287">
            <div class="col-4" data-reactid="288">
               <a class="" data-gtm-name="nav-home" routerLink = "/" data-reactid="289">
                 <img src = "assets/img/logo_white.png"  class="mobile_img_width"/>
               </a>
            </div>
            <div class="col-4" data-reactid="291"></div>
            <div class="col-4" data-reactid="292">
               <a class="back-to-top" data-gtm-name="footer-back-to-top" data-reactid="293" (click)="onActivate($event)">
                  <!-- react-text: 294 -->Back to top <!-- /react-text --><span id="return-to-top" class="up-arrow" data-reactid="295"></span>
               </a>
            </div>
         </div>
         <div class="grid primary-menu" data-reactid="296">
            <div class="col-12_md-5" data-reactid="297">
               <div data-reactid="298">
                  <h4 data-reactid="299">Contact</h4>
                  <p class="footer-caption" data-reactid="300">Have a question, idea<br>or want to work together?</p>
                  <div data-reactid="301"><a data-gtm-name="footer-contact-us" title="Contact Us" class="button primary inverse" (click)="onActivate($event)" routerLink = "/contactus" data-reactid="302"><span data-reactid="303">Contact Us</span></a>
                    <a data-gtm-name="footer-contact-us" title="Contact Sales"
                                class="button primary inverse" (click)="onActivate($event)" routerLink = "/contactsales"
                                 data-reactid="302"><span data-reactid="303">Contact Sales</span>
                               </a></div>
               </div>
            </div>
            <div class="col-12_md-7 grid primary-menu-columns" data-reactid="304">
               <div class="col-6_sm-4" data-reactid="305">
                  <h4 data-reactid="306">Company</h4>
                  <ul data-reactid="307">
                     <li class="menu-item footer-item" data-reactid="308"><a data-gtm-name="footer-our-team" title="Our Team" class="button text inverse" (click)="onActivate($event)" routerLink = "/globalreach" data-reactid="309"><span data-reactid="310">Global Reach</span></a></li>
                     <!--<li class="menu-item footer-item" data-reactid="311"><a data-gtm-name="footer-our-story" title="Our Story" class="button text inverse" (click)="onActivate($event)" routerLink = "/ourteam" data-reactid="312"><span data-reactid="313">Our Team</span></a></li>-->
                <!--      <li class="menu-item footer-item" data-reactid="314"><a data-gtm-name="footer-our-locations" title="Our Locations" class="button text inverse" href="https://www.axiomlaw.com/about-us/global-reach" data-reactid="315"><span data-reactid="316">Our Locations</span></a></li> -->
                  </ul>
               </div>
               <div class="col-6_sm-5" data-reactid="317">
                  <h4 data-reactid="318">What We Do</h4>
                  <ul data-reactid="319">
                     <li class="menu-item footer-item" data-reactid="320"><a data-gtm-name="footer-talent-platform" title="Carriers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="321"><span data-reactid="322">Carriers</span></a></li>
                     <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Retailers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Retailers</span></a></li>
                      <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Manufacturers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Manufacturers</span></a></li>
                     <li class="menu-item footer-item" data-reactid="326"><a data-gtm-name="footer-m&amp;a-diligence-&amp;-integration" title="Distributors" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="327"><span data-reactid="328">Distributors</span></a></li>
                  </ul>
               </div>
       <div class="col-6_sm-3 jobs-section" data-reactid="329">
                  <h4 data-reactid="330">Jobs</h4>
                  <p data-reactid="331">Find your place on our&nbsp;team.</p>
                  <a data-gtm-name="footer-search-jobs" title="Search Jobs" class="button text cta inverse" (click)="onActivate($event)" routerLink = "/careers" data-reactid="332"><span data-reactid="333">Search Jobs</span></a>
               </div>
            </div>
         </div>
         <div class="grid-noGutter secondary-menu" data-reactid="334">
            <ul class="col-12_md-8_sm-4 secondary-menu-links" data-reactid="335">
               <li class="menu-item copyright" data-reactid="336">
                  <!-- react-text: 337 -->©<!-- /react-text --><!-- react-text: 338 -->2018<!-- /react-text --><!-- react-text: 339 --> Mercantile All Rights Reserved.<!-- /react-text -->
               </li>
        <li class="menu-item" data-reactid="340"><a data-gtm-name="footer-privacy-policy" title="Privacy Policy" class="button nav" (click)="onActivate($event)" routerLink = "/cookiepolicy" data-reactid="341"><span data-reactid="342">Cookie Policy</span></a></li>
               <li class="menu-item" data-reactid="343"><a data-gtm-name="footer-code-of-conduct" title="Code of Conduct" class="button nav" (click)="onActivate($event)" routerLink ="/termscondtions"  data-reactid="344"><span data-reactid="345">Terms and Conditions</span></a></li>

            </ul>


   <div class="social-channels mob_space col-12_md-4_sm-8" data-reactid="348">
<ul data-reactid="349">
<li data-reactid="350">

    <a href="https://www.facebook.com/MercantilePacificPteLtd/" target = "_blanck" class="fa fa-facebook"></a>

</li>
<li data-reactid="354">

   <a href="https://www.linkedin.com/company/13698015/"  target = "_blanck" class="fa fa-linkedin"></a>

</li>
<li data-reactid="358">

    <a href="https://twitter.com/mercantileltd" target = "_blanck" class="fa fa-twitter"></a>

</li>

</ul>
</div>
</div>
      </div>
   </footer>

  </div>
</div>
