.shape:hover .rhombus_class{
    display: block !important;
 }
  .shape:hover .first_rhombo{
    color: #71bf44;
 }
  .shape:hover h4{
    color: white !important;
 }

.regulatory-response-page .solutions-container .solutions-graphic .shape:nth-child(5) {
color: #80808030;
z-index: 1;
top: -175px;
margin-bottom: -230px;
}
.solution-hook .solution-hook-content .custome_line::after {
margin-left: -22px;
}
