.app-form label, .app-form .form-label{
    text-align: left;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .app-form .required{
    color:red;
  }
.contact_submit{
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: normal;
    font-style: normal;
    font-family: "Walsheim", "Helvetica", "Arial", sans-serif;
    line-height: 2.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: -0.02em;
    letter-spacing: 0.04em;
    padding: 0 25px;
    text-align: center;
    height: 50px;
    color: #fff;
    background: #71bf44;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.table>thead:first-child>tr:first-child>th {
  border-top: 0;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-bottom-width: 2px;
}
.table-bordered>thead>tr>th {
  border: 1px solid #ddd;
}
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table>tbody>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-bordered>tbody>tr>td{

  border: 1px solid #ddd;

}
.fa-envelope{
    margin-right: 5px;
  color: #dc0606;
}
 