.probootstrap-intro {

    height: 300px;
  }
   .probootstrap-intro h1 {
    font-size: 40px;
  }
  html .contact {
  align-self: center;
}
html .contact i {
  padding: 0 20px;
  font-size: 0.8em;
}
html .contact h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  height: 75px;
  color: #fff;
  font-weight: 500;
  line-height: 40px;
  padding-left: 50px;
  text-align: center;
}
html #contactform {
  height: 215px;
}
html #contactform .right {
  float: right;
}
html #contactform input {
  margin-bottom: 14px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding-left: 15px;
  height: 44px;
  border-radius: 0;
}
html #contactform textarea {
  margin-bottom: 14px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 15px;
  height: 218px;
  border-radius: 0;
}
html #contactform .btn {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #333;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
html #contactform .btn:hover {
  background: rgba(51, 51, 51, 0.7);
}
.map-canvas {
  width: 100%;
  height: 135px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}
.btn.btn-lg {
    line-height: 0.5;
    }
.whatsapp_wrapper{
  width:100%;
  background: white;
  display: block;
  margin: 0 auto;
      padding-bottom: 18px;
}
.whatsapp_wrapper p a{
  color: black;
  font-weight: 400;
  text-align: center;

}
.main_heading p{
	font-weight: bold;
	text-align: left;
}
th{
	text-align: center;
}
.whatsapp_wrapper .heading{
	    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
}
.whatsapp_wrapper img{
	    margin-right: 10px;
}
.section-heading h3{
	    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bold;
}
thead tr {
	  background: #c3281b;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
th,td{
    font-size: 16px;
    padding: 8px 2px;
    text-align: center;
    border:1px solid #ddd;
    border-collapse: collapse;
}
h2{
    font-size: 35px;
}
table th td{
    border:1px solid grey;
    border-collapse:collapse;
}
hr{
  color: #eee;
  display: block;

  border-top: 0.4px solid #eee;
  margin: 1em 0;
  padding: 0;
}
h4 i{
  float: right;
  margin-right: 25px;
  font-size: 20px;
  color: #12ff04;
}



.about-us-page{
    margin-top:100px;
    padding-left: 55px;
    padding-right: 55px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.with-icon i{
    color:red;
}
.with-icon li{
    line-height: 3;
    font-size: 18px;
}


@media only screen and (min-width: 720px){
	.whatsapp_container_left{
	border-right:1px solid #eee;

}

}
@media only screen and (max-width: 720px){
  .about-us-page{
    margin-top: 100px;
    padding-left: 17px;
    padding-right: 17px;
}
}