<div id="container" data-reactid="14">
  <div class="app-wrapper" data-reactroot="" data-reactid="1" data-react-checksum="1921589561">
    <!-- react-empty: 2 -->
    <div class="app-main-nav">
      <header class="grid">
        <div class="logo-container" data-reactid="5">
          <a class="" routerLink = "/" (click)="onActivate($event)">
            <img src = "assets/img/logo_white.png"  class="head_logo" />
          </a>
        </div>
        <nav>
          <input type="checkbox" class="hamburger" [ngClass]="{'hamburger open':open_menu}" id="main-nav-hamburger" data-reactid="9" value="on" (click)="openMenu()">
          <label for="main-nav-hamburger" data-reactid="10">
            <div id="hamburger-button" data-reactid="11"><span data-reactid="12"></span><span data-reactid="13"></span><span data-reactid="14"></span></div>
          </label>
          <ul id="display_menu">
            <li class="about_hover">
              <a data-gtm-name="nav-about-us" id="about_menu" (click)="onActivate($event)" title="About Us" class="button nav" routerLink="/aboutus" ><span class="">About Us</span></a>
              <div class="nav-sublist">
                <input type="checkbox" class="expander" id="expander-0" [ngClass]="{'expander expanded':open_submenu}" data-reactid="37" value="on" (click)="openSubmenu()">
                <label for="expander-0" data-reactid="38">

                  <img class="app-icon expand" id="open_submenu" src="assets/img/plus.png" />
                  <img class="app-icon collapse" src="assets/img/minus.png" />

                  <!--  <svg class="app-icon collapse" data-reactid="41">
                      <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                   </svg> -->
                </label>
                <ul class="open_aboutus">
                  <li class="" ><a  title="Global Reach" (click)="onActivate($event)" class="button nav" routerLink = "/globalreach"><span class="sub_menu">Global Reach</span></a></li>
                  <!--<li class=""><a title="Our Team" (click)="onActivate($event)" class="button nav" routerLink = "/ourteam"  ><span data-reactid="32">Our Team</span></a></li>-->
                </ul>
              </div>
            </li>
            <li class="solutions">
              <a data-gtm-name="nav-solutions" title="What We Do" (click)="onActivate($event)" class="button nav" routerLink = "/whatWeDo" data-reactid="34"><span data-reactid="35">What We Do</span></a>
              <div class="nav-sublist" data-reactid="36">
                <input type="checkbox" class="expander" id="expander-1" data-reactid="37" value="on">
                <label for="expander-1" data-reactid="38">
                  <svg class="app-icon expand" data-reactid="39">
                    <use xlink:href="#icon-large-plus" data-reactid="40"></use>
                  </svg>
                  <svg class="app-icon collapse" data-reactid="41">
                    <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                  </svg>
                </label>
                <!--      <ul class="open_solutions" >
                        <li class=""><a title="Talent Platform" class="button nav" href="talent-platform.html" data-reactid="45"><span data-reactid="46">Carriers(Mobile Network Operators)</span></a></li>
                        <li class="" data-reactid="47"><a data-gtm-name="nav-m&amp;a-diligence-&amp;-integration" title="M&amp;A Diligence &amp; Integration" class="button nav" href="diligence-integration-support.html" data-reactid="48"><span data-reactid="49">Retailors</span></a></li>
                         <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Manufactures</span></a></li>
                        <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Distributors</span></a></li>
                     </ul> -->
              </div>
            </li>

            <li class="careers">
              <a data-gtm-name="nav-careers" title="Careers" (click)="onActivate($event)" class="button nav" routerLink = "/careers"  data-reactid="54"><span data-reactid="55" >Careers</span></a>
              <div class="nav-sublist" data-reactid="56">
                <!--    <input type="checkbox" class="expander" id="expander-2" data-reactid="57" value="on">
                   <label for="expander-2" data-reactid="58">
                      <svg class="app-icon expand" data-reactid="59">
                         <use xlink:href="#icon-large-plus" data-reactid="60"></use>
                      </svg>
                      <svg class="app-icon collapse" data-reactid="61">
                         <use xlink:href="#icon-large-minus" data-reactid="62"></use>
                      </svg>
                   </label> -->
                <!--      <ul class="open_careers">
                        <li class="" data-reactid="64"><a data-gtm-name="nav-lawyers" title="Lawyers" class="button nav" href="lawyers.html" data-reactid="65"><span data-reactid="66">Lawyers</span></a></li>
                        <li class="" data-reactid="67"><a data-gtm-name="nav-contract-management" title="Contract Management" class="button nav" href="contract-management.html" data-reactid="68"><span data-reactid="69">Contract Management</span></a></li>
                        <li class="" data-reactid="70"><a data-gtm-name="nav-business-talent" title="Business Talent" class="button nav" href="business-talent.html" data-reactid="71"><span data-reactid="72">Business Talent</span></a></li>
                     </ul> -->
              </div>
            </li>

            <li class="careers">
              <a data-gtm-name="nav-careers" title="Blog" class="button nav" (click)="onActivate($event)" routerLink = "/blog" data-reactid="54"><span data-reactid="55">Blog</span></a>
              <div class="nav-sublist" data-reactid="56">

              </div>
            </li>
            <li class="" data-reactid="73"><a data-gtm-name="nav-contact-us" (click)="onActivate($event)" title="Contact Us" class="button nav" routerLink = "/contactus" data-reactid="74"><span data-reactid="75">Contact Us</span></a></li>
          </ul>
        </nav>
      </header>
    </div>




    <div class="app-content" data-reactid="76">
      <div class="accept_cookie_wrapper" id="accept_cookie_wrapper" *ngIf="showpopup">
        <div class="cookie-bar-copy-con">
          <div class="cookie-bar__title">
            Cookies
          </div>
          <div class="cookie-bar-copy">
            We use cookies to ensure we give you the best experience on our website.
          </div>
          <div class="cookie-bar-copy">
            If you continue without changing your browser settings, we'll assume you are happy to receive all cookies on our website. You can change your cookie settings in your browser at any time. <a target="_blank" href="" style="color:white;" routerLink = "/cookiepolicy">Find out more about how we use cookies.</a>
          </div>
        </div>
        <div class="cookie-bar__action-con">
          <div class="cookie-bar__button" (click)="checkCookie()" id="close-cookies">
            I accept
          </div>
          <a target="_blank" href="" routerLink = "/cookiepolicy">Find out more</a>
        </div>
      </div>
      <div class="router-transition-wrapper" style="opacity: 1;">
        <div class="careers-page">
          <!-- react-empty: 2539 -->
          <div class="masthead-container">
            <div class="masthead">
              <div class="grid-column-middle" style="text-align: center;">
                <h2 class="col-10_md-8_lg-6 heading">Our Grading Scale Explained</h2>
              </div>
            </div>
          </div>

          <div  class="content-container" style="background-color: #f2f2f4">
          <div  class="col-12">
          <div  >
            <img src="assets/img/grading/P2-1.jpg" width="100%" >
          </div>
            <div >
              <img src="assets/img/grading/P3-1.jpg" width="100%" >
            </div>
            <div  >
              <img src="assets/img/grading/P4-1.jpg" width="100%" >
            </div>
            <div >
              <img src="assets/img/grading/SM-1.jpg" width="100%" >
            </div>
            </div>
          </div>


          <div class="quote-container">
            <div class="quote-content grid-center" style="padding-top: 0px;padding-bottom: 29px;">
              <div class="quote col-12_lg-10">
                <div class="press-logo"><!-- <img src="https://cs-production2.axiomlaw.com/assets/bltc48fc6bc1c154f22/logo-new-york-times.png" alt="" class=""> --></div>
                <h2 style="font-size: 25px !important;">When you buy from us, you know exactly what you are getting, regardless of which stock you select.</h2>
                <a  class="button primary" routerlink="/contactsales" href="/contactsales"><span >Start Buying Now</span></a>
              </div>
            </div>
          </div>
          <!--        <div class="video">
               <div class="video-content grid-center video-small">
                  <div class="col-12_md-8">
                     <div class="video-overlay-caption" data-gtm-name="watch-video-this-changes-everything">
                        <div class="video-caption grid-center">
                           <div class="subheading col-12_lg-10">This changes everything.</div>
                        </div>
                        <div class="play-button">
                           <svg class="app-icon">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-button"></use>
                           </svg>
                        </div>
                     </div>
                     <div class="video-frame"><img src="https://cs-production2.axiomlaw.com/assets/blt2ea2ce6eeb107a4b/video-this-changes-everything.png" alt="" class="resimg"></div>
                  </div>
               </div>
            </div> -->
        </div>
      </div>
    </div>



    <footer class="app-footer inverse-theme"  id="includedContent">
      <div class="footer-container" data-reactid="286">
        <div class="grid navigation-menu" data-reactid="287">
          <div class="col-4" data-reactid="288">
            <a class="" data-gtm-name="nav-home" routerLink = "/" data-reactid="289">
              <img src = "assets/img/logo_white.png"  class="mobile_img_width"/>
            </a>
          </div>
          <div class="col-4" data-reactid="291"></div>
          <div class="col-4" data-reactid="292">
            <a class="back-to-top" data-gtm-name="footer-back-to-top" data-reactid="293" (click)="onActivate($event)">
              <!-- react-text: 294 -->Back to top <!-- /react-text --><span id="return-to-top" class="up-arrow" data-reactid="295"></span>
            </a>
          </div>
        </div>
        <div class="grid primary-menu" data-reactid="296">
          <div class="col-12_md-5" data-reactid="297">
            <div data-reactid="298">
              <h4 data-reactid="299">Contact</h4>
              <p class="footer-caption" data-reactid="300">Have a question, idea<br>or want to work together?</p>
              <div data-reactid="301"><a data-gtm-name="footer-contact-us" title="Contact Us" class="button primary inverse" (click)="onActivate($event)" routerLink = "/contactus" data-reactid="302"><span data-reactid="303">Contact Us</span></a>
                <a data-gtm-name="footer-contact-us" title="Contact Sales"
                   class="button primary inverse" (click)="onActivate($event)" routerLink = "/contactsales"
                   data-reactid="302"><span data-reactid="303">Contact Sales</span>
                </a></div>
            </div>
          </div>
          <div class="col-12_md-7 grid primary-menu-columns" data-reactid="304">
            <div class="col-6_sm-4" data-reactid="305">
              <h4 data-reactid="306">Company</h4>
              <ul data-reactid="307">
                <li class="menu-item footer-item" data-reactid="308"><a data-gtm-name="footer-our-team" title="Our Team" class="button text inverse" (click)="onActivate($event)" routerLink = "/globalreach" data-reactid="309"><span data-reactid="310">Global Reach</span></a></li>
                <!--<li class="menu-item footer-item" data-reactid="311"><a data-gtm-name="footer-our-story" title="Our Story" class="button text inverse" (click)="onActivate($event)" routerLink = "/ourteam" data-reactid="312"><span data-reactid="313">Our Team</span></a></li>-->
                <!--      <li class="menu-item footer-item" data-reactid="314"><a data-gtm-name="footer-our-locations" title="Our Locations" class="button text inverse" href="https://www.axiomlaw.com/about-us/global-reach" data-reactid="315"><span data-reactid="316">Our Locations</span></a></li> -->
              </ul>
            </div>
            <div class="col-6_sm-5" data-reactid="317">
              <h4 data-reactid="318">What We Do</h4>
              <ul data-reactid="319">
                <li class="menu-item footer-item" data-reactid="320"><a data-gtm-name="footer-talent-platform" title="Carriers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="321"><span data-reactid="322">Carriers</span></a></li>
                <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Retailers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Retailers</span></a></li>
                <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Manufacturers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Manufacturers</span></a></li>
                <li class="menu-item footer-item" data-reactid="326"><a data-gtm-name="footer-m&amp;a-diligence-&amp;-integration" title="Distributors" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="327"><span data-reactid="328">Distributors</span></a></li>
              </ul>
            </div>
            <div class="col-6_sm-3 jobs-section" data-reactid="329">
              <h4 data-reactid="330">Jobs</h4>
              <p data-reactid="331">Find your place on our&nbsp;team.</p>
              <a data-gtm-name="footer-search-jobs" title="Search Jobs" class="button text cta inverse" (click)="onActivate($event)" routerLink = "/careers" data-reactid="332"><span data-reactid="333">Search Jobs</span></a>
            </div>
          </div>
        </div>
        <div class="grid-noGutter secondary-menu" data-reactid="334">
          <ul class="col-12_md-8_sm-4 secondary-menu-links" data-reactid="335">
            <li class="menu-item copyright" data-reactid="336">
              <!-- react-text: 337 -->©<!-- /react-text --><!-- react-text: 338 -->2018<!-- /react-text --><!-- react-text: 339 --> Mercantile All Rights Reserved.<!-- /react-text -->
            </li>
            <li class="menu-item" data-reactid="340"><a data-gtm-name="footer-privacy-policy" title="Privacy Policy" class="button nav" (click)="onActivate($event)" routerLink = "/cookiepolicy" data-reactid="341"><span data-reactid="342">Cookie Policy</span></a></li>
            <li class="menu-item" data-reactid="343"><a data-gtm-name="footer-code-of-conduct" title="Code of Conduct" class="button nav" (click)="onActivate($event)" routerLink ="/termscondtions"  data-reactid="344"><span data-reactid="345">Terms and Conditions</span></a></li>

          </ul>


          <div class="social-channels mob_space col-12_md-4_sm-8" data-reactid="348">
            <ul data-reactid="349">
              <li data-reactid="350">

                <a href="https://www.facebook.com/MercantilePacificPteLtd/" target = "_blanck" class="fa fa-facebook"></a>

              </li>
              <li data-reactid="354">

                <a href="https://www.linkedin.com/company/13698015/"  target = "_blanck" class="fa fa-linkedin"></a>

              </li>
              <li data-reactid="358">

                <a href="https://twitter.com/mercantileltd" target = "_blanck" class="fa fa-twitter"></a>

              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>
</div>
