
@media screen and (min-width:768px){
.solutions-page .cms-image-row .col .image-content h3 {
    margin-top: 10px;
    width: 60%;
    color: #8e8d8d !important;
    font-size: 20px;
}
}

.solutions-page .cms-image-row .col .image-content .button.text.cta {
    color: #b9bcbd;
}

@media screen and (min-width:320px) and (max-width:800px){
.overlay_mob_solutions1{
    position: absolute;
    background: black;
    opacity: 0.4;
    top:0;
    bottom:0;
    left:0;
    right:0; 
}
.cms-image-row .image-content .caption-breadcrumb, .cms-image-row-mobile .image-content .caption-breadcrumb{
    font-size: 20px;
}
.solutions-page .cms-image-row .col .image-content h3{
    color: #cdd5d8 !important;
    font-size: 20px;
}
.cms-image-row .image-content .caption-breadcrumb, .cms-image-row-mobile .image-content .caption-breadcrumb{
    margin-bottom: 4px;
}
.solutions-page .cms-image-row .col .image-content{
    width:100% !important;
}
}