
      .about_hover:hover *.open_aboutus{
        display: block;
       }
                         .typed-cursor
                {
                   display:none;
                }
              #page-content #flexslider ul li .text.left, #page-content #flexslider-nav ul li .text.left {
           text-align: left;
        background-color: #1C222E;
           background-color: #1C222E;
           background-image: none !important;
       }

       h1.medium {
           color: white;
           text-align: center;

       /*    font-size:7rem;*/
       }
       .select_box{
        width: 30%;
        margin: 0 auto;
        z-index: 99999999;
        display: block;
        background: #d0cbcb;
        height: 50px;
        color: #4a3f3f;
        font-size: 14px;
       }
       .right_icon{
              font-size: 4em !important;
           color: #71bf44;
           margin: -8px 5px !important;
       }
          .app-main-nav nav > ul > li a.button.nav:active span,
       .app-main-nav nav > ul > li a.button.nav:hover span ,
       .app-main-nav nav > ul > li a.button.nav:focus span  {
       color: #71bf44;

       }

       .typed{
          margin-top: 0vh;
       }
       .partner .img-responsive{
         width:190px;
       }

       header.transparent.fixed-top {
           background: #1e222a !important;
           transition: background-color .4s ease-out;
           box-shadow: 0px 2px 4px -2px rgba(156, 156, 156, 0.5);
       }
       /*header nav.navbar.white #menu .menu-holder ul li > a, header nav.navbar.white #sidemenu .menu-holder ul li > a, header nav.navbar.white #menu-classic .menu-holder ul li > a {
           color: black !important;
           font-weight: 500;
       }
       */
       .stand_typing_text {
          font-size: 5.5em !important;

           line-height: 1 !important;
           color: #68cfff !important;
           font-weight: bold !important;
       }
       p.heading.left {
          font-weight: normal;
       }
       #page-content #flexslider.small ul li, #page-content #flexslider-nav.small ul li {
           height: 540px !important;
       }
       #page-content #flexslider.small, #page-content #flexslider-nav.small {
           height: 540px !important;
           background-color: #1C222E;
       }

       #page-content #flexslider.small, #page-content #flexslider-nav.small {
           height: 540px !important;
           background-color: #1C222E;
       }
       .input_box{
         background: transparent;
         border:none;
         text-align: center;
           color: white;
           font-size: 33px;
       }
       p{
           font-size: 2.5rem;
           letter-spacing: 0;
           font-weight: normal;
           font-style: normal;
          /*   font-family: Walsheim_font;*/
           line-height: 3.5rem;
           letter-spacing: -0.01em;
           color: #5B6471;
           margin: 30px 0;
         }
       @media screen and (max-width: 400px) and (min-width: 320px){

         .tagline{
           width:100% !important;
         }
       h1.medium {

       }

       /*#typed.big {
           border-bottom: 10px solid #71bf44;
           font-size: 2em !important;
           margin-top: 50vh !important;
           color: white !important;
       }*/
       }
       @media screen and (min-width: 320px) and (max-width: 800px){
         .select_box{
           display: none;
         }
        .news_mob_img{
          background-position: 0px 0px !important;
        }
        .join_conversation{
          margin-top: 3vh;
        }
           .mob_space{
           margin: 0 auto;
         }
         .mobile_img_width{
           width:208px;
         }
          .tagline{
           width:100% !important;
         }
         .text-div{
       width: 100% !important;
          border-bottom: 3px solid #71bf44 !important;
            animation: revealText_mob 2s !important;
       }
       .text-div1{
         width:82% !important;
            border-bottom: 3px solid #71bf44 !important;
              animation: revealText1_mob 2s !important;
       }
       .text-div2{
         width:90% !important;
            border-bottom: 3px solid #71bf44 !important;
              animation: revealText2_mob 2s !important;
       }
         .stand_typing_text {
          font-size: 2em !important;
           line-height: 1;
           margin-top: 10vh !important;
           height: 9% !important;
           border-bottom: 3px solid #71bf44 !important;
       }

       @keyframes revealText_mob {
         0% {
           width:0%;

       /*width:0%;*/
          }

         100% {
        width:100%;
          border-bottom: 3px solid #71bf44 !important;


         }
         }


          @keyframes revealText1_mob {
         0% {
           width:0%;

       /*width:0%;*/
          }

         100% {
        width:82%;
          border-bottom: 3px solid #71bf44 !important;


         }
       }
         @keyframes revealText2_mob {
         0% {
           width:0%;

       /*width:0%;*/
          }

         100% {
        width:90%;
          border-bottom: 3px solid #71bf44 !important;


         }
       }
       #typed.big {

           position: relative;
       }
       .device_lyfe{
         margin-top: 23vh;

       }
       h1.medium {
             font-size: 2.3em !important;
             line-height: 2.5em;
       }

       .tagline {
           color: white;
           position: relative !important;
           z-index: 9999;
           font-size: 25px;

           line-height: 31px;
           text-align: center;
           margin: 0 auto;
           }

         p.heading {

           font-size: 16px;

       }
       }
       #page-content #flexslider.small ul li, #page-content #flexslider-nav.small ul li {
           height: 573px !important;
       }

       #page-content #flexslider.small, #page-content #flexslider-nav.small {
           height: 573px !important;
           background-color: #1C222E;
       }
       .owl-theme .owl-controls {
           display: none;
       }
       .carousel-inner {
             position: relative;
           width: 100%;
           /* height: 200px; */
           overflow: hidden !important;
           left: 46px;
       }
       .carousel-control.left {
         background-image: none !important;
         display: none
         }
         .carousel-control.right {
         background-image: none !important;
         display: none;
         }

        .center ul {
           list-style-image: url('assets/img/bullet_icon (1).png');
           line-height: 27px;
       }
       .center{
           margin-left: 12px;
       }
       .content-section .text {
           padding: 16px 39px;
       }
       .active{
         border-bottom: 1px solid green;
       }
       .word {
         margin: auto;
       /*  color: white;
         font: 700 normal 4em/1.5 'Montserrat',sans-serif;
         text-shadow: 1px 2px #288ce3, 2px 4px #288ce3, 3px 6px #288ce3, 4px 8px #288ce3, 5px 10px #288ce3, 6px 12px #288ce3, 7px 14px #288ce3, 8px 16px #288ce3, 9px 18px #288ce3, 10px 20px #288ce3;*/
       }
       @media screen and (min-width: 1500px) and (max-width: 1920px){
       .stand_typing_text {
           font-size: 6.19em !important;

       }
        .tagline{
           width:100% !important;
         }

         /*.responsive_img1{
           background-image: url(../img/solution_grids/sec_ipad.jpg) !important;
         }*/


         /*  .responsive_img2{
            background-image: url(../img/solution_grids/sec_ipad.jpg) !important;}*/


         /*  .responsive_img3{
           background-image: url(../img/solution_grids/1.jpg) !important;

         }*/


       }
       @media screen and (min-width: 1001px) and (max-width: 1280px){
       .stand_typing_text {
           font-size: 5em !important;

       }
        .tagline{
           width:100% !important;
         }

       }
       @media screen and (min-width: 1001px) and (max-width: 1200px){
       .stand_typing_text {
           font-size: 4.5em !important;

       }
        .tagline{
           width:100% !important;
         }

       }
       @media screen and (max-width: 1024px) and (min-width: 800px) {
         .stand_typing_text {
           font-size: 4.0em !important;
       }

       }
       @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {
       .head_bord{
         font-size:0.8em;
         line-height: 1em;
       }
       .stand_typing_text {
        font-size: 3.45em !important;
    }
    .image-tablet{
      background-position: center !important;
    }
    .social-channels{
      margin-top: 20px !important;
    }
      }
      @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
        .head_bord{
          font-size:0.8em;
        }
        .marquee .image {
          background-position: center;
        }
        .img_tab{
          background-image: url('../img/solution_grids/watWEDo_mob.jpg') !important;
        }

      }

       @media screen and (min-width: 800px) and (max-width: 1000px){
       .stand_typing_text {
           font-size: 3.5em !important;

       }
        .tagline{
           width:100% !important;
         }

       }
       @media screen and (min-width: 501px) and (max-width: 799px){
       .stand_typing_text {
          /* font-size: 3em !important;*/
               margin-top: 6vh !important;

       }
        .tagline{
           width:100% !important;
         }

       }
       @media screen and (min-width: 320px) and (max-width: 500px){
       #page-content #flexslider ul li .text.left, #page-content #flexslider-nav ul li .text.left {
           text-align: left;
         background: transparent !important;
         width: 100% !important;
       }
       .social-channels {
           height: 50px;
           margin-top: 15px !important;
           margin-left: -33px;
       }
        .tagline{
           width:100% !important;
         }


       .Lifecycle_text {
           color: #68cfff;
           font-size: 35px;
           font-weight: bold;
           line-height: 43px;

       }
       }
       .box_content {
           top: 36%;
       }
       .box_content p {
         text-align: center;
         font-size: 24px !important;
        font-weight: normal;
           line-height: 30px;
           margin-left: 10px !important;
           color: white;
       }
       .grid_sub_text li h3{
           font-size: 22px;
           line-height: 10px;
           text-align: justify;
           margin-left: 11px;
       }
       .owl-dots{
         display:none;
       }
       margin-bottom {
           margin-bottom: 39px !important;
           margin-top: 110px !important;
       }
       header.fixed {
           background-color: white !important;
       }

       .secnd_carousel{
             width: 1000px;
           margin: 0 auto;
       }
       .stand_typing_text {
           font-size: 4.5em;
           line-height: 1 !important;
           color: white !important;
           font-weight: bold !important;
       }


       .text-div {
           /* width: 100%; */
           padding-bottom: 15px;
             width: 93.5%;
           white-space: nowrap;
           overflow: hidden;
           animation: revealText 2.5s;
           text-align: center;
           height: 18%;
           font-weight: bold;
           transition: 2s ease;
           /* position: absolute; */
           left: 0;
           right: 0;
           margin: 0 auto;
           top: 50%;
            border-bottom: 10px solid #71bf44;

       }

       .text-div1 {
           /* width: 100%; */
           padding-bottom: 15px;
             width: 79%;
           white-space: nowrap;
           overflow: hidden;
           animation: revealText1 2.5s;
           text-align: center;
           height: 18%;
           font-weight: bold;
           transition: 2s ease;
           /* position: absolute; */
           left: 0;
           right: 0;
           margin: 0 auto;
           top: 50%;
            border-bottom: 10px solid #71bf44;

       }
       .masthead ul li p{
         color: white !important;
             line-height: 12px;
       }
       .masthead ul li p::before{
        content: url('../img/small_bullet.png') ;
       /*content: '';
       background:  url('../img/small_bullet.png');
       height: 30px;
       width: 30px;*/
       }
       .grid_sub_text li h3::before{
          content: url('../img/small_bullet.png') ;
       }
          .text_aignment{
             text-align: justify;
           }

       .text-div2 {
           /* width: 100%; */
           padding-bottom: 15px;
             width: 88%;
           white-space: nowrap;
           overflow: hidden;
           animation: revealText2 2.5s;
           text-align: center;
           height: 18%;
           font-weight: bold;
           transition: 2s ease;
           /* position: absolute; */
           left: 0;
           right: 0;
           margin: 0 auto;
           top: 50%;
            border-bottom: 10px solid #71bf44;

       }
       .contactus{
             background: #71bf44;
           border-radius: 50px;
           width: 381px;
           border-radius: 20px;
           height: 40px;
         padding: 8px 20px !important;
           /* background-color: #71bf44; */
           color: #fff !important;

       }
       /*.app-main-nav nav > ul > li ul li a:hover span
       {
         border-bottom: 1px solid
       }*/
       .inner_text_cl{
         color: #71bf44;
       }
       .tagline{
            font-family: "Times New Roman", Times, serif;
           color: #A3ABB7;
           z-index: 9999;
               letter-spacing: -0.01em;
       font-size: 3rem;
           width: 55%;
           display: block;
           margin: 0 auto;
           margin-top: 8vh;
         text-align: center;
       }
       nav ul li a:active{
        /* background: grey;*/
       }
       .head_bord{
         margin-top: 2vh;
       }
       .join_conversation{
         font-size: 1.5em;
           /* margin-top: -5vh; */
           letter-spacing: 0.05em;
           border-bottom: 2px solid #71bf44;

           text-transform: uppercase;
           /* margin-top: -8px; */
           position: relative;
       }
       .img_inside{
         width:110px;
       }
       /*.scrolling{
         color:white !important;
       }*/
       #typed.big {
          border-bottom: 10px solid #71bf44;
       /*font-size: 7rem !important;*/

         }
       header nav.navbar.white #menu .menu-holder ul li > a, header nav.navbar.white #sidemenu .menu-holder ul li > a, header nav.navbar.white #menu-classic .menu-holder ul li > a {
           color: #1d222e;
          font-weight: bold;
       }
       .grid_overlay{
         background: black;
         position: absolute;
         top:0;
         left:0;
         right:0;
         bottom: 0;
        opacity: 0.65;
       }

       @font-face {
         font-family: 'Walsheim_font';
         src:url('../fonts/GT-Walsheim-Regular.ttf');
         font-weight: normal;
         font-style: normal;

          }
       @keyframes revealText {
         0% {
           width:0%;

       /*width:0%;*/
          }

         100% {
        width:93.5%;
          border-bottom: 10px solid #71bf44;


         }
       }
         @keyframes revealText1 {
         0% {
           width:0%;

       /*width:0%;*/
          }

         100% {
        width:79%;
          border-bottom: 10px solid #71bf44;


         }
       }
         @keyframes revealText2 {
         0% {
           width:0%;

       /*width:0%;*/
          }

         100% {
        width:88%;
          border-bottom: 10px solid #71bf44;


         }
       }


      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
          margin: auto;
          padding: 20px;
          width: 55%;
      }

      /* The Close Button */
      .close {
          color: #aaaaaa;
          float: right;
          font-size: 38px;
          font-weight: bold;
          background-color: #000;
          width: 25px;
          height: 25px;
      }

      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
          background-color: #fff;
      }
      #myBtn {
          position: fixed;
          left: 15px;
          bottom: 10px;
          background: none;
          background-color: #71bf44;
          color: #fff;
          border: none;
          padding: 15px;
          border-radius: 3px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          z-index: 100;
      }


