
      <div id="container" data-reactid="14">
        <div class="app-wrapper" data-reactroot="" data-reactid="1" data-react-checksum="1921589561">
           <!-- react-empty: 2 -->
             <div class="app-main-nav" data-reactid="3">
              <header class="grid" data-reactid="4">
                 <div class="logo-container" data-reactid="5">
                    <a class="" data-gtm-name="nav-home"  routerLink = "/" (click)="onActivate($event)" data-reactid="6">
                       <img src = "assets/img/logo_white.png"  class="head_logo" />
                    </a>
                 </div>
                 <nav data-reactid="8">
                    <input type="checkbox" class="hamburger" id="main-nav-hamburger" [ngClass]="{'hamburger open':open_menu}" data-reactid="9" value="on"  (click)="openMenu()">
                    <label for="main-nav-hamburger" data-reactid="10">
                       <div id="hamburger-button" data-reactid="11"><span data-reactid="12"></span><span data-reactid="13"></span><span data-reactid="14"></span></div>
                    </label>
                    <ul>
                       <li class="about_hover">
                          <a data-gtm-name="nav-about-us" title="About Us" (click)="onActivate($event)" class="button nav" routerLink="/aboutus" ><span class="">About Us</span></a>
                          <div class="nav-sublist">
                     <input type="checkbox" class="expander" id="expander-0" data-reactid="37" [ngClass]="{'expander expanded':open_submenu}" value="on" (click)="openSubmenu()">
                            <label for="expander-0" data-reactid="38">

                                <img class="app-icon expand" id="open_submenu" src="assets/img/plus.png" />
                                 <img class="app-icon collapse" src="assets/img/minus.png" />

                               <!--  <svg class="app-icon collapse" data-reactid="41">
                                   <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                                </svg> -->
                             </label>
                             <ul class="open_aboutus">
                                <li class="" ><a  title="Global Reach" (click)="onActivate($event)" class="button nav"  routerLink = "/globalreach"><span data-reactid="29">Global Reach</span></a></li>
                                <!--<li class=""><a title="Our Team" (click)="onActivate($event)" class="button nav" routerLink = "/ourteam" ><span data-reactid="32">Our Team</span></a></li>-->
                             </ul>
                          </div>
                       </li>
                       <li class="solutions">
                          <a data-gtm-name="nav-solutions" (click)="onActivate($event)" title="What We Do" class="button nav" routerLink = "/whatWeDo" data-reactid="34"><span data-reactid="35">What We Do</span></a>
                          <div class="nav-sublist" data-reactid="36">
                             <input type="checkbox" class="expander" id="expander-1" data-reactid="37" value="on">
                             <label for="expander-1" data-reactid="38">
                                <svg class="app-icon expand" data-reactid="39">
                                   <use xlink:href="#icon-large-plus" data-reactid="40"></use>
                                </svg>
                                <svg class="app-icon collapse" data-reactid="41">
                                   <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                                </svg>
                             </label>
                        <!--      <ul class="open_solutions" >
                                <li class=""><a title="Talent Platform" class="button nav" href="talent-platform.html" data-reactid="45"><span data-reactid="46">Carriers(Mobile Network Operators)</span></a></li>
                                <li class="" data-reactid="47"><a data-gtm-name="nav-m&amp;a-diligence-&amp;-integration" title="M&amp;A Diligence &amp; Integration" class="button nav" href="diligence-integration-support.html" data-reactid="48"><span data-reactid="49">Retailors</span></a></li>
                                 <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Manufactures</span></a></li>
                                <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Distributors</span></a></li>
                             </ul> -->
                          </div>
                       </li>
                   <li class="careers">
                          <a data-gtm-name="nav-careers" (click)="onActivate($event)" title="Careers" class="button nav" routerLink = "/careers" data-reactid="54"><span data-reactid="55">Careers</span></a>
                          <div class="nav-sublist" data-reactid="56">
                          <!--    <input type="checkbox" class="expander" id="expander-2" data-reactid="57" value="on">
                             <label for="expander-2" data-reactid="58">
                                <svg class="app-icon expand" data-reactid="59">
                                   <use xlink:href="#icon-large-plus" data-reactid="60"></use>
                                </svg>
                                <svg class="app-icon collapse" data-reactid="61">
                                   <use xlink:href="#icon-large-minus" data-reactid="62"></use>
                                </svg>
                             </label> -->
                        <!--      <ul class="open_careers">
                                <li class="" data-reactid="64"><a data-gtm-name="nav-lawyers" title="Lawyers" class="button nav" href="lawyers.html" data-reactid="65"><span data-reactid="66">Lawyers</span></a></li>
                                <li class="" data-reactid="67"><a data-gtm-name="nav-contract-management" title="Contract Management" class="button nav" href="contract-management.html" data-reactid="68"><span data-reactid="69">Contract Management</span></a></li>
                                <li class="" data-reactid="70"><a data-gtm-name="nav-business-talent" title="Business Talent" class="button nav" href="business-talent.html" data-reactid="71"><span data-reactid="72">Business Talent</span></a></li>
                             </ul> -->
                          </div>
                       </li>

                           <li class="careers">
                              <a data-gtm-name="nav-careers" title="Blog" class="button nav" (click)="onActivate($event)" routerLink = "/blog" data-reactid="54"><span data-reactid="55">Blog</span></a>
                              <div class="nav-sublist" data-reactid="56">

                              </div>
                           </li>
                       <li class="" data-reactid="73"><a data-gtm-name="nav-contact-us" (click)="onActivate($event)" title="Contact Us" class="button nav" routerLink = "/contactus" data-reactid="74"><span data-reactid="75">Contact Us</span></a></li>
                    </ul>
                 </nav>
              </header>
           </div>


      <div class="app-content" data-reactid="76">
                  <div class="accept_cookie_wrapper" id="accept_cookie_wrapper" *ngIf="showpopup">
                              <div class="cookie-bar-copy-con">
                                  <div class="cookie-bar__title">
                                    Cookies
                                  </div>
                                  <div class="cookie-bar-copy">
                                    We use cookies to ensure we give you the best experience on our website.
                                  </div>
                                  <div class="cookie-bar-copy">
                                    If you continue without changing your browser settings, we'll assume you are happy to receive all cookies on our website. You can change your cookie settings in your browser at any time. <a target="_blank" href="" style="color:white;" routerLink = "/cookiepolicy">Find out more about how we use cookies.</a>
                                  </div>
                                </div>
                                <div class="cookie-bar__action-con">
                          <div class="cookie-bar__button" (click)="checkCookie()" id="close-cookies">
                          I accept
                          </div>
                          <a target="_blank" href="" routerLink = "/cookiepolicy">Find out more</a>
                          </div>
                            </div>
  <div class="router-transition-wrapper" style="opacity: 1;">
     <div class="talent-platform-page">
        <!-- react-empty: 1860 -->
        <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Website Terms and Conditions</h2>
                 <p class="subheading col-10_md-8_lg-6">Welcome to the website of Mercantile Pacific. When you use the Mercantile Pacific website, YOU CONSENT TO BE RESTRICTED BY ITS CONDITIONS RELATING TO USE, PRIVACY POLICY, LEGAL NOTICES and all conditions and terms, disclaimers which appear on other areas of the Mercantile Pacific website.</p>
          <p class="subheading col-10_md-8_lg-6">Mercantile Pacific reserves the power to vary the Mercantile Pacific website and the site's Conditions relating to Use and the Legal Notices at any point in time. Every time you utilize the Mercantile Pacific website, you must visit and then review the contemporary Conditions of Use, Privacy Policy and Legal Notices which are applicable to the transactions and the utilization of the web site. If you are not satisfied with the Mercantile Pacific website, the content within or Legal Notices and Conditions of Use, you concur that your only remedy is to discontinue using the Mercantile Pacific website.</p>
          <p class="subheading col-10_md-8_lg-6">Meddling with the website, misrepresenting user identity, or doing activities deemed to be of a fraudulent kind on the web site are absolutely prohibited.</p>



              </div>
           </div>
        </div>


     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Liability Limitation and Disclaimers</h2>
                 <p class="subheading">When you use the Mercantile Pacific website, you publicly consent that you use the website at your own risk. The Mercantile Pacific website is offered on the “As is” and on the “as available” fundamental point. At no point of time does Mercantile Pacific or the parent company, subsidiaries, affiliates, designees, subsidiaries or directors, officers, sponsors, employees, third party providers of content, distributors, contractors, licensors, sponsors or collectively “Associates” give the surety that the Mercantile Pacific website will be free from errors and uninterrupted. Neither Mercantile Pacific guarantees the completeness, accuracy and integrity on the offered content on the Mercantile Pacific website or of the product sales or services provided for sale on the website. No written information or oral advice given by Mercantile Pacific or its associates will create warranty.</p>
          <p class="subheading">Under no conditions will Mercantile Pacific be liable for any indirect, direct, special, incidental or consequential damages which resulted from your utilization or inability to utilize the Mercantile Pacific website, including but not restricted to your relying on information obtained from the website which results in omissions, mistakes, corruption or deletion of files, viruses, operational delays or transmission or any kind of performance failure. The preceding Liability Limitation will be applicable to any action, whether in tort, contract or claim of any kind, even in the case of an authorized representative of Mercantile Pacific should be knowledgeable or advised of such damage possibilities. User admits that this paragraph will be applicable to all content, services and products available via the Mercantile Pacific web site.</p>
              </div>
           </div>
        </div>


     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Users should be over 13</h2>
                 <p class="subheading">The Mercantile Pacific website is intended to be used by individuals having attained the minimum age of 13 years. The Mercantile Pacific website is not directed for children below 13 years. Users below this age should obtain the help of a guardian to utilize this site.</p>
              </div>
           </div>
        </div>

     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Product colors and display</h2>
                 <p class="subheading">The Mercantile Pacific website endeavors to display product images shown on web site as realistic as possible. But, it is not possible to guarantee that the color you see the website is identical to the color of the product, as the color display is partly dependent on the monitor you use.</p>
              </div>
           </div>
        </div>


     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Errors on web site</h2>
                 <p class="subheading">Availability and prices of products can be changed without prior notice. When discovered, errors would be corrected and Mercantile Pacific reserves the power to take back any expressed offer and also to correct any inaccuracies, errors or omissions including post-submission of any order, whether or not it was confirmed and your credit card has been charged. If the credit card has been charged for that particular purchase and the order gets canceled, Mercantile Pacific will issue credit to the account of the credit card in the charge amount. Bank policies differ from bank to bank and this will be credited to the account. If you are dissatisfied with the purchase, you can return it as per Mercantile Pacific's Return Policy.</p>
              </div>
           </div>
        </div>


     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Pricing Policy</h2>
                 <p class="subheading">Online selection and prices usually match those in the stores, but could be subject to variation. Offers and prices can be changed anytime.</p>
              </div>
           </div>
        </div>

     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Policy related to Sales Tax</h2>
                 <p class="subheading">Online selection and prices usually match those in the stores, but could be subject to variation. Offers and prices can be changed anytime.</p>
              </div>
           </div>
        </div>


     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Paying for Order</h2>
                 <p class="subheading">You can pay for your orders with PayPal and all major credit cards valid in the state of Singapore. We now accept MasterCard, Visa, Discover and American Express Card.</p>
          <p class="subheading">Usually, debit and credit cards remain uncharged until we confirm the availability of the product in the store or at the point of shipping to the destination. But, we can pre-authorize the order amount with the debit or credit card issuer at time of placing the order, which could have effect on your line of credit. When you pay for a pre-order with debit card, you will be charged when you request the pre-order.</p>
              </div>
           </div>
        </div>



     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Order Confirmation and Acceptance</h2>
                 <p class="subheading">The receipt of the electronic or any kind of confirmation of order does not indicate our acceptance of the order, nor is it a confirmation to sell. The Mercantile Pacific website reserves the power to decline or accept the order at any time without citing any reason.</p>
              </div>
           </div>
        </div>

     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Return Policy</h2>
                 <p class="subheading">All sales conducted through the Mercantile Pacific website are to be subjected to Mercantile Pacific's return policy.</p>
              </div>
           </div>
        </div>

        <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Order Limitations</h2>
                 <p class="subheading">Mercantile Pacific, at own discretion, may cancel or limit quantities purchased per order, per household or per person. Mercantile Pacific also reserves the power to reject orders placed. These restrictions could include orders given by any entity who shares common shipping or billing address. In such an event, we will try to notify you by contacting the billing address or email address given at the time of making the order.</p>
              </div>
           </div>
        </div>

     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Shipping</h2>
                 <p class="subheading">All orders arranged on the Mercantile Pacific website are subject to the availability of the product and will be accordingly shipped on the basis of Mercantile Pacific's shipping policies.</p>
              </div>
           </div>
        </div>

     <div class="masthead-container subpage">
           <div class="masthead">
              <div class="grid-column-middle">
                 <h2 class="col-10_md-8_lg-6 heading">Usage Termination</h2>
                 <p class="subheading">Mercantile Pacific, by its exclusive discretion, can terminate the account you use or your use of the Mercantile Pacific website anytime. Aspects of the web site can be canceled without notice.</p>
              </div>
           </div>
        </div>


     </div>
  </div>
</div>



<footer class="app-footer inverse-theme"  id="includedContent">
      <div class="footer-container" data-reactid="286">
             <div class="grid navigation-menu" data-reactid="287">
                <div class="col-4" data-reactid="288">
                   <a class="" data-gtm-name="nav-home" routerLink = "/" data-reactid="289">
                     <img src = "assets/img/logo_white.png"  class="mobile_img_width"/>
                   </a>
                </div>
                <div class="col-4" data-reactid="291"></div>
                <div class="col-4" data-reactid="292">
                   <a class="back-to-top" data-gtm-name="footer-back-to-top" data-reactid="293" (click)="onActivate($event)">
                      <!-- react-text: 294 -->Back to top <!-- /react-text --><span id="return-to-top" class="up-arrow" data-reactid="295"></span>
                   </a>
                </div>
             </div>
             <div class="grid primary-menu" data-reactid="296">
                <div class="col-12_md-5" data-reactid="297">
                   <div data-reactid="298">
                      <h4 data-reactid="299">Contact</h4>
                      <p class="footer-caption" data-reactid="300">Have a question, idea<br>or want to work together?</p>
                      <div data-reactid="301"><a data-gtm-name="footer-contact-us" title="Contact Us" class="button primary inverse" (click)="onActivate($event)" routerLink = "/contactus" data-reactid="302"><span data-reactid="303">Contact Us</span></a>
                        <a data-gtm-name="footer-contact-us" title="Contact Sales"
                                class="button primary inverse" (click)="onActivate($event)" routerLink = "/contactsales"
                                 data-reactid="302"><span data-reactid="303">Contact Sales</span>
                               </a></div>
                   </div>
                </div>
                <div class="col-12_md-7 grid primary-menu-columns" data-reactid="304">
                   <div class="col-6_sm-4" data-reactid="305">
                      <h4 data-reactid="306">Company</h4>
                      <ul data-reactid="307">
                         <li class="menu-item footer-item" data-reactid="308"><a data-gtm-name="footer-our-team" title="Our Team" class="button text inverse" (click)="onActivate($event)" routerLink = "/globalreach" data-reactid="309"><span data-reactid="310">Global Reach</span></a></li>
                         <!--<li class="menu-item footer-item" data-reactid="311"><a data-gtm-name="footer-our-story" title="Our Story" class="button text inverse" (click)="onActivate($event)" routerLink = "/ourteam" data-reactid="312"><span data-reactid="313">Our Team</span></a></li>-->
                    <!--      <li class="menu-item footer-item" data-reactid="314"><a data-gtm-name="footer-our-locations" title="Our Locations" class="button text inverse" href="https://www.axiomlaw.com/about-us/global-reach" data-reactid="315"><span data-reactid="316">Our Locations</span></a></li> -->
                      </ul>
                   </div>
                   <div class="col-6_sm-5" data-reactid="317">
                      <h4 data-reactid="318">What We Do</h4>
                      <ul data-reactid="319">
                         <li class="menu-item footer-item" data-reactid="320"><a data-gtm-name="footer-talent-platform" title="Carriers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="321"><span data-reactid="322">Carriers</span></a></li>
                         <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Retailers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Retailers</span></a></li>
                          <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Manufacturers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Manufacturers</span></a></li>
                         <li class="menu-item footer-item" data-reactid="326"><a data-gtm-name="footer-m&amp;a-diligence-&amp;-integration" title="Distributors" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="327"><span data-reactid="328">Distributors</span></a></li>
                      </ul>
                   </div>
           <div class="col-6_sm-3 jobs-section" data-reactid="329">
                      <h4 data-reactid="330">Jobs</h4>
                      <p data-reactid="331">Find your place on our&nbsp;team.</p>
                      <a data-gtm-name="footer-search-jobs" title="Search Jobs" class="button text cta inverse" (click)="onActivate($event)" routerLink = "/careers" data-reactid="332"><span data-reactid="333">Search Jobs</span></a>
                   </div>
                </div>
             </div>
             <div class="grid-noGutter secondary-menu" data-reactid="334">
                <ul class="col-12_md-8_sm-4 secondary-menu-links" data-reactid="335">
                   <li class="menu-item copyright" data-reactid="336">
                      <!-- react-text: 337 -->©<!-- /react-text --><!-- react-text: 338 -->2018<!-- /react-text --><!-- react-text: 339 --> Mercantile All Rights Reserved.<!-- /react-text -->
                   </li>
            <li class="menu-item" data-reactid="340"><a data-gtm-name="footer-privacy-policy" title="Privacy Policy" class="button nav" (click)="onActivate($event)" routerLink = "/cookiepolicy" data-reactid="341"><span data-reactid="342">Cookie Policy</span></a></li>
                   <li class="menu-item" data-reactid="343"><a data-gtm-name="footer-code-of-conduct" title="Code of Conduct" class="button nav" (click)="onActivate($event)" routerLink ="/termscondtions"  data-reactid="344"><span data-reactid="345">Terms and Conditions</span></a></li>

                </ul>


       <div class="social-channels mob_space col-12_md-4_sm-8" data-reactid="348">
<ul data-reactid="349">
   <li data-reactid="350">

        <a href="https://www.facebook.com/MercantilePacificPteLtd/" target = "_blanck" class="fa fa-facebook"></a>

   </li>
   <li data-reactid="354">

       <a href="https://www.linkedin.com/company/13698015/"  target = "_blanck" class="fa fa-linkedin"></a>

   </li>
   <li data-reactid="358">

        <a href="https://twitter.com/mercantileltd" target = "_blanck" class="fa fa-twitter"></a>

   </li>

</ul>
</div>
</div>
          </div>
       </footer>

        </div>
     </div>
