body{
    background: #eee;
}
.heading h4{
    font-size: 26px;
    font-weight: bold;
}
.sub_content p{
    font-size: 20px;
}
.content-wrapper{
    padding: 30px 70px; 
}
.app-main-nav{
    position: relative;
}
.sub_head{
    font-size: 20px;
    font-weight: bold;
}
.writter_name{
    border-right: 4px solid green;
    padding-right: 18px;
    text-decoration: underline;
    cursor: pointer;
    color: #71bf44;
}
.date_writing{
    padding-left:12px;
}
@media screen and (min-width:320px) and (max-width:640px){
    .content-wrapper{
    padding: 30px 23px;
    }
    .sub_content p{
        font-size: 18px;
    line-height: 1.5;
    }
    .heading h4{
        line-height: 1.3;
    }
}