.blog_content{
    width:100%;
    margin:0 auto;
    display: block;
    text-align: center;
}
.grid_width{
    width: 33.33%;
    display: inline-block;
    height: auto;
    margin-left:0px;
    margin-right:0px;
    padding: 38px;
    position: relative;
  
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    overflow: hidden;
    opacity: 0.8;
    width: 0;
    height: 100%;
    transition: .3s ease;
  }
  .image-overlay{
      position: relative;
      width: 100%;
      float: left;
  }
  .image-overlay:hover .overlay {
    width: 100%;
  }
  .image-overlay:hover .text1 {
   font-size: 20px;
   width:95%;
   text-align: center;
  }
.inner_grid_content{
    width:100%;
    float: left;
    background: white;
    position: relative;
/*  min-height: 436px;*/
    height: auto;
}
.image-responsive
{
    width: 100%;
    display: block;
  

}
.header img{
    width:100%;
    height:auto;
}
.app-main-nav{
    position: relative;
}
.container{
    background: #eee;

}
.relative_text{
    min-height: 210px;
    padding-bottom: 20px;
    display: table-cell;
    height: auto;
    overflow: hidden;
}
.relative_text p{
    font-size: 15px;
    padding: 0px 7px;
    line-height: 25px;
}
.relative_text p:nth-child(2) {
    color:red;
    cursor: pointer;
    outline: none;
}
.writter_name{
    font-size: 12px;
    color: #71bf44;
}
.text1 {
    color: white;
    font-size: 0px;
    position: absolute;
    line-height: 1.3;
    top: 50%;
    width: 72%;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  
  }
  @media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait){
    .grid_width{
        width: 50%;
        display: inline-block;
        height: auto;
        margin-left:0px;
        margin-right:0px;
        padding: 38px;
        position: relative;
      
    }
    .image-overlay:hover .text1 {
        font-size: 20px;
       }
      .writter_name{
        font-size: 14px;
      }

  }
  @media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){

    .relative_text p{
        padding: 0px 14px;
  }
  .image-overlay:hover .text1 {
    font-size: 14px !important;
   }
   .writter_name{
    font-size: 10px;
  }
}
  @media screen and (min-width:320px) and (max-width:640px)
  {
    .grid_width{
        width: 100%;
        padding: 10px;

    }
    .inner_grid_content{
        margin:0 auto;
    }
    .image-overlay:hover .text1 {
        font-size: 20px;
       }
 
  }