.app-form label, .app-form .form-label{
    text-align: left;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .app-form .required{
    color:red;
  }
.contact_submit{
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: normal;
    font-style: normal;
    font-family: "Walsheim", "Helvetica", "Arial", sans-serif;
    line-height: 2.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: -0.02em;
    letter-spacing: 0.04em;
    padding: 0 25px;
    text-align: center;
    height: 50px;
    color: #fff;
    background: #71bf44;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}