

<div id="container">
  <div class="app-wrapper">
<div class="app-main-nav">
  <header class="grid">
     <div class="logo-container" data-reactid="5">
        <a class="" href="http://www.mercantilepacific.com/" (click)="onActivate($event)">
           <img src = "assets/img/logo_white.png"  class="head_logo" />
        </a>
     </div>
     <nav>
        <input type="checkbox" class="hamburger" [ngClass]="{'hamburger open':open_button}" id="main-nav-hamburger" data-reactid="9" value="on" (click)="openMenu()">
        <label for="main-nav-hamburger" data-reactid="10">
           <div id="hamburger-button" data-reactid="11"><span data-reactid="12"></span><span data-reactid="13"></span><span data-reactid="14"></span></div>
        </label>
        <ul id="display_menu">
           <li class="about_hover">
              <a data-gtm-name="nav-about-us" id="about_menu" title="About Us" (click)="onActivate($event)" class="button nav" routerLink="/aboutus" ><span class="">About Us</span></a>
              <div class="nav-sublist">
                      <input type="checkbox" class="expander" id="expander-0"  [ngClass]="{'expander expanded':open_button1}"  data-reactid="37" value="on" (click)="openSubmenu()">
                <label for="expander-0" data-reactid="38">

                    <img class="app-icon expand" id="open_submenu" src="assets/img/plus.png" />
                     <img class="app-icon collapse" src="assets/img/minus.png" />

                   <!--  <svg class="app-icon collapse" data-reactid="41">
                       <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                    </svg> -->
                 </label>
                 <ul class="open_aboutus">
                    <li class="" ><a  title="Global Reach" class="button nav" (click)="onActivate($event)" routerLink = "/globalreach"><span class="sub_menu">Global Reach</span></a></li>
                    <!--<li class=""><a title="Our Team" class="button nav"  (click)="onActivate($event)" routerLink = "/ourteam" ><span data-reactid="32">Our Team</span></a></li>-->
                 </ul>
              </div>
           </li>

           <li class="solutions">
              <a data-gtm-name="nav-solutions" title="What We Do" class="button nav" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="34"><span data-reactid="35">What We Do</span></a>
              <div class="nav-sublist" data-reactid="36">
              <!--    <input type="checkbox" class="expander" id="expander-1" data-reactid="37" value="on">
                 <label for="expander-1" data-reactid="38">
                    <img class="app-icon expand" src="assets/img/plus.png" />


                    <svg class="app-icon collapse" data-reactid="41">
                       <use xlink:href="#icon-large-minus" data-reactid="42"></use>
                    </svg>
                 </label> -->
            <!--      <ul class="open_solutions" >
                    <li class=""><a title="Talent Platform" class="button nav" href="talent-platform.html" data-reactid="45"><span data-reactid="46">Carriers(Mobile Network Operators)</span></a></li>
                    <li class="" data-reactid="47"><a data-gtm-name="nav-m&amp;a-diligence-&amp;-integration" title="M&amp;A Diligence &amp; Integration" class="button nav" href="diligence-integration-support.html" data-reactid="48"><span data-reactid="49">Retailors</span></a></li>
                     <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Manufactures</span></a></li>
                    <li class="" data-reactid="50"><a data-gtm-name="nav-regulatory-response" title="Regulatory Response" class="button nav" href="regulatory-response.html" data-reactid="51"><span data-reactid="52">Distributors</span></a></li>
                 </ul> -->
              </div>
           </li>
           <li class="careers">
            <a data-gtm-name="nav-careers" title="Careers" class="button nav" (click)="onActivate($event)" routerLink = "/careers" data-reactid="54"><span data-reactid="55">Careers</span></a>
            <div class="nav-sublist" data-reactid="56">
            <!--    <input type="checkbox" class="expander" id="expander-2" data-reactid="57" value="on">
               <label for="expander-2" data-reactid="58">
                  <svg class="app-icon expand" data-reactid="59">
                     <use xlink:href="#icon-large-plus" data-reactid="60"></use>
                  </svg>
                  <svg class="app-icon collapse" data-reactid="61">
                     <use xlink:href="#icon-large-minus" data-reactid="62"></use>
                  </svg>
               </label> -->
          <!--      <ul class="open_careers">
                  <li class="" data-reactid="64"><a data-gtm-name="nav-lawyers" title="Lawyers" class="button nav" href="lawyers.html" data-reactid="65"><span data-reactid="66">Lawyers</span></a></li>
                  <li class="" data-reactid="67"><a data-gtm-name="nav-contract-management" title="Contract Management" class="button nav" href="contract-management.html" data-reactid="68"><span data-reactid="69">Contract Management</span></a></li>
                  <li class="" data-reactid="70"><a data-gtm-name="nav-business-talent" title="Business Talent" class="button nav" href="business-talent.html" data-reactid="71"><span data-reactid="72">Business Talent</span></a></li>
               </ul> -->
            </div>
         </li>

         <li class="careers">
            <a data-gtm-name="nav-careers" title="Blog" class="button nav" (click)="onActivate($event)" routerLink = "/blog" data-reactid="54"><span data-reactid="55">Blog</span></a>
            <div class="nav-sublist" data-reactid="56">

            </div>
         </li>
       <!--  <li class="careers">
                <a data-gtm-name="nav-careers" title="Blog" class="button nav" routerLink = "/blog" data-reactid="54"><span data-reactid="55">Blog</span></a>
                <div class="nav-sublist" data-reactid="56">

                </div>
             </li>-->
           <li class="" data-reactid="73"><a data-gtm-name="nav-contact-us" (click)="onActivate($event)" title="Contact Us" class="button nav" routerLink = "/contactus" data-reactid="74"><span data-reactid="75">Contact Us</span></a></li>
        </ul>
     </nav>
  </header>
</div>

<div class="app-content" data-reactid="76">
  <div class="router-transition-wrapper" data-reactid="77" style="opacity: 1;">
      <div class="home-page" data-reactid="78">

          <div class="hero" data-reactid="80" >
              <div class="hero-container col-12_xs-0_sm-0" data-reactid="81">
                       <div id="flexslider" class="fullpage-wrap small">



 <ul class="slides" (click)="videoPopup()">
    <li>
       <div class="text left typed">

          <h1 style="font-size: 4em;" class="medium white " id="nextdiv"><span class="head_bord" *ngIf="edited1" style="border-bottom: 10px solid #71bf44;">Mercantile Pacific  features in Digital Transformation Video Released by IMDA Singapore</span></h1>
          <!-- <h1 class="medium white " id="redefine"><span class="head_bord" *ngIf="!edited">Redefining</span></h1> -->
          <h1 class="medium white "  id="disrupt"><span class="head_bord" *ngIf="!sec_edited">Disrupting</span></h1>
            <!--<h1 class="medium white " id="empty" style="visibility: hidden" *ngIf = "!third_edited">rghaddhasgba</h1>-->

<!-- <p  class="device_lyfe big white stand_typing_text text-div" id="typed" style=" margin-top: 4vh;font-size: 4em !important;" *ngIf="edited1"><span class=""> Media Development Authority Singapore</span></p> -->

           <!-- <p class="device_lyfe big white stand_typing_text text-div" id="typed" style=" margin-top: 4vh;" *ngIf="edited"><span class="">device lifecycle management</span></p> -->

    <p><span id="typed" class="big white stand_typing_text" data-typed-first="Device Lifecycle Management" data-typed-second="Device Lifecycle Management"></span></p>
          <p class="big white stand_typing_text text-div1" style="margin-top: 4vh;" id ="nextdiv" *ngIf="!sec_edited">cross border distribution </p>

           <p class="big white stand_typing_text text-div2"  id ="nextdiv2" *ngIf = "!third_edited">The future of wireless world</p>
           <!-- <a href="" class="btn-alt small active margin-null">Read More</a>  -->
       </div>
            <p class="tagline" id="distinctive1" *ngIf="edited1">  </p>
            <!-- <p class="tagline" id="distinctive" *ngIf="edited"> Our distinctive approach to every stage of the device lifecycle creates new market opportunities</p> -->
             <p class="tagline" id="Simplifying" *ngIf="!sec_edited"> Simplifying cross border distribution through B2B commerce</p>
              <p class="tagline" id="turn_device" *ngIf = "!third_edited">Turn your biggest device distribution challenges into smart business solutions</p>
       <div class="gradient dark"></div>
    </li>
 </ul>
</div>
              </div>

          </div>

          <div class="marquee" data-reactid="124">
              <div class="image image-desktop" style="background-image:url('assets/img/Marcantile-lady-banner (1).jpg');" data-reactid="125"></div>
      <!--         <div class="image image-mobile" style="background-image:url(&#39;https://cs-production2.axiomlaw.com/assets/blt192b0758b2e9d92a/home-solutions-M-@2x.jpg&#39;);" data-reactid="126"></div> -->
              <div class="copy-container grid-column" data-reactid="127">
                  <div class="copy col-6_sm-7_lg-5" data-reactid="128">
                       <h2 data-reactid="129">B2B & B2C</h2>
                      <h2 data-reactid="129"> eCommerce </h2>
                      <p data-reactid="130">With the expertise gained over 2 decades, Mercantile Pacific has successfully ventured into ecommerce business in 4 countries and caters to over 100K customers
                       </p><a data-gtm-name="explore-our-solutions" title="Explore Our Solutions" class="button text cta" routerLink = "/whatWeDo" data-reactid="131"><span data-reactid="132">Explore</span></a></div>

              </div>
          </div>
          <div class="accept_cookie_wrapper" id="accept_cookie_wrapper" *ngIf="showpopup">
            <div class="cookie-bar-copy-con">
                <div class="cookie-bar__title">
                  Cookies
                </div>
                <div class="cookie-bar-copy">
                  We use cookies to ensure we give you the best experience on our website.
                </div>
                <div class="cookie-bar-copy">
                  If you continue without changing your browser settings, we'll assume you are happy to receive all cookies on our website. You can change your cookie settings in your browser at any time. <a target="_blank" href="" style="color:white;" routerLink = "/cookiepolicy">Find out more about how we use cookies.</a>
                </div>
              </div>
              <div class="cookie-bar__action-con">
    <div class="cookie-bar__button" (click)="checkCookie()" id="close-cookies">
      I accept
    </div>
    <a target="_blank" href="" routerLink = "/cookiepolicy">Find out more</a>
  </div>
          </div>
          <div class="case-study-container" data-reactid="135">
              <div class="case-study-content grid-middle" data-reactid="136">
                  <div class="col-10_sm-5" data-reactid="137">
                      <h2 data-reactid="138">Follow the Innovation Leaders</h2>
                      <p data-reactid="139">The world’s most successful companies turn to Mercantile for innovative solutions that solve real business challenges.</p>
                  </div>
                  <div class="col-12_sm-7 stacked-circles" data-reactid="140">
                      <div class="circle-item" data-reactid="141">
                          <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="142">
                              <circle class="circle" cx="125" cy="125" r="125" data-reactid="143"></circle>
                          </svg><a data-gtm-name="case-study-kraft" title="amazon" style="cursor: auto;" target="_blanck" class="button circle-link"  data-reactid="144"><img src="assets/img/color_logos/2000px-Amazon_logo_plain.svg.png" alt="" class="img_inside" data-reactid="146"></a></div>
                          <div class="circle-item" data-reactid="159">
                                <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="160">
                                    <circle class="circle" cx="125" cy="125" r="125" data-reactid="161"></circle>
                                </svg><a data-gtm-name="case-study-dell" target="_blanck" title="shopmonk" class="button circle-link" href="https://shopmonk.com.au/" data-reactid="162"><img src="assets/img/color_logos/shopmonk.png" alt="" class="img_inside" data-reactid="164"></a></div>

                      <div class="circle-item" data-reactid="153">
                          <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="154">
                              <circle class="circle" cx="125" cy="125" r="125" data-reactid="155"></circle>
                          </svg><a data-gtm-name="case-study-enlivant" title="souq" style="cursor: auto;"  class="button circle-link"  target="_blanck" data-reactid="156"><img src="assets/img/color_logos/196945-souq-logo-secondary-en-web-f8e9a3-original-1456722541.png" alt="" class="img_inside" data-reactid="164"></a></div>
                          <div class="circle-item" data-reactid="147">
                                <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="148">
                                    <circle class="circle" cx="125" cy="125" r="125" data-reactid="149"></circle>
                                </svg><a data-gtm-name="case-study-intel" target="_blanck" style="cursor: auto;"  title="ebay" class="button circle-link"  data-reactid="150"><img src="assets/img/color_logos/800px-EBay_logo.png" alt="" class="img_inside" data-reactid="152"></a></div>
                  </div>
              </div>
          </div>


          <div class="news-container" data-reactid="165">
              <div class="tile-layout grid-noGutter" data-reactid="166">
                  <div class="two-wide" data-reactid="167">
                      <div class="grid-noGutter" data-reactid="168">

                          <div class="tile col-12_md-6 heading" data-reactid="169">
                              <h3 data-reactid="170">Keeping Pulse on the modern distribution landscape</h3>
                              <h4 class="join_conversation">Join the conversation</h4>
                                       <div class="social-channels col-12_md-4_sm-8" style="margin-top:0px;">
<ul data-reactid="349">
<li data-reactid="350">

<a href="https://www.facebook.com/MercantilePacificPteLtd/" target = "_blank" class="fa fa-facebook"></a>

</li>
<li data-reactid="354">

<a href="https://www.linkedin.com/company/13698015/"  target = "_blank" class="fa fa-linkedin"></a>

</li>
<li>

<a href="https://twitter.com/mercantileltd/"  target = "_blank"  class="fa fa-twitter"></a>

</li>

</ul>
</div>
                          </div>

                          <div class="tile col-12_md-6 grid-noGutter" data-reactid="191">
                              <div class="col-12" data-reactid="192">
                                  <a href="assets/Press_release_E50.pdf" target="_blank" class="button height-limiter tile-link grid-noGutter" data-gtm-name="grid-1-axiom-appoints-jerame-thurik" data-reactid="193">
                                      <div class="col-6 tile-content" data-reactid="194">
                                          <div class="tile-category" data-reactid="195">
                                              <h4 data-reactid="196">Latest News</h4></div>
                                          <div class="tile-heading" data-reactid="197">
                                              <h3 data-reactid="198">Mercantile awarded the Enterprise 50 Award for the 2nd consecutive year</h3></div>
                                     <div class="tile-cta" data-reactid="199"><span class="button text cta" data-reactid="200">Read More</span></div>
                                      </div>
                                      <div class="tile-image col-6 news_mob_img" style="background-image:url(https://neilpatel.com/wp-content/uploads/2017/09/30-Ways-to-Become-a-More-Successful-Entrepreneur.jpg);" data-reactid="201"></div>
                                  </a>
                              </div>
                          </div>

                          <div class="tile col-12_md-6 grid-noGutter" data-reactid="202">
                              <div class="col-12" data-reactid="203">
                                  <a href="assets/Mercantile_Press_Release_ISO_28000.pdf"
target="_blank" class="button height-limiter tile-link grid-noGutter" data-gtm-name="grid-2-axiom-launches-brexitbridge-to" data-reactid="204">
                                      <div class="col-6 tile-content" data-reactid="205">
                                          <div class="tile-category" data-reactid="206">
                                              <h4 data-reactid="207">Latest News</h4></div>
                                          <div class="tile-heading" data-reactid="208">
                                              <h3 data-reactid="209">Mercantile Pacific certified to the ISO 28000 in Supply Chain Security Management System</h3></div>
                        <div class="tile-cta" data-reactid="210"><span  class="button text cta" data-reactid="211">Read More</span></div>
                                      </div>
                                      <div class="tile-image col-6" style="background-image:url(assets/img/crossCurve1.jpg);" data-reactid="212"></div>
                                  </a>
                              </div>
                          </div>


                          <div class="tile col-12_md-6 grid-noGutter" data-reactid="202">
                              <div class="col-12" data-reactid="203">
                                  <a href="https://www.youtube.com/watch?v=pGv1y1-uMVw" target="_blank" class="button height-limiter tile-link grid-noGutter" data-gtm-name="grid-2-axiom-launches-brexitbridge-to" data-reactid="204">
                                      <div class="col-6 tile-content" data-reactid="205">
                                          <div class="tile-category" data-reactid="206">
                                              <h4 data-reactid="207">Latest News</h4></div>
                                          <div class="tile-heading" data-reactid="208">
                                              <h3 data-reactid="209"> Global Webinar on Riding the Digital India Wave</h3></div>
                                   <div class="tile-cta" data-reactid="210"><span  class="button text cta" data-reactid="211">Read More</span></div>
                                      </div>
                                      <div class="tile-image col-6" style="background-color: #71bf44;" data-reactid="212"></div>
                                  </a>
                              </div>
                          </div>

                          <div class="tile col-12_md-6 grid-noGutter" data-reactid="202">
                              <div class="col-12" data-reactid="203">
                                  <a href="https://economictimes.indiatimes.com/tech/software/hcl-technologies-wins-asian-human-capital-summit-2011-award/articleshow/10180217.cms" target="_blank" class="button height-limiter tile-link grid-noGutter" data-gtm-name="grid-2-axiom-launches-brexitbridge-to" data-reactid="204">
                                      <div class="col-6 tile-content" data-reactid="205">
                                          <div class="tile-category" data-reactid="206">
                                              <h4 data-reactid="207">Latest News</h4></div>
                                          <div class="tile-heading" data-reactid="208">
                                              <h3 data-reactid="209"> Mercantile Pacific Asia wins the SICCI-DBS Large Enterprise Award</h3></div>
                                   <div class="tile-cta" data-reactid="210"><span  class="button text cta" data-reactid="211">Read More</span></div>
                                      </div>
                                      <div class="tile-image col-6" style="background: #edea3b;" data-reactid="212"></div>
                                  </a>
                              </div>
                          </div>


                          <div class="tile col-12_md-6 grid-noGutter" data-reactid="202">
                              <div class="col-12" data-reactid="203">
                                  <a href=" https://www.entrepreneur2010.sg/Platinum/Mercantile%20Pacific%20Asia%20Pte%20Ltd.html" target="_blank" class="button height-limiter tile-link grid-noGutter" data-gtm-name="grid-2-axiom-launches-brexitbridge-to" data-reactid="204">
                                      <div class="col-6 tile-content" data-reactid="205">
                                          <div class="tile-category" data-reactid="206">
                                              <h4 data-reactid="207">Latest News</h4></div>
                                          <div class="tile-heading" data-reactid="208">
                                              <h3 data-reactid="209">Mercantile Pacific wins the SUCCESSFUL ENTREPRENEUR 2010 in Platinum Category </h3></div>
                                   <div class="tile-cta" data-reactid="210"><span  class="button text cta" data-reactid="211">Read More</span></div>
                                      </div>
                                      <div class="tile-image col-6" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ47DpTEK0JdCUdqLxTH8OmJ8Dng2TqSkZ_Ty7BLiPDClsnZVDiTg);" data-reactid="212"></div>
                                  </a>
                              </div>
                          </div>

                        </div>
                        </div>
                        </div>
                        </div>

                        <div class="quote-container" data-reactid="244">
                            <div class="quote-content grid-center" data-reactid="245">
                                <div class="quote col-12_lg-10" data-reactid="246">
                                   <div class="press-logo" data-reactid="247"><img src="https://cs-production2.axiomlaw.com/assets/bltc48fc6bc1c154f22/logo-new-york-times.png" alt="" class="" data-reactid="248"></div>
                                    <h2 style="font-size: 25px;" data-reactid="249">“The mobile industry is moving fast and all players -- including newcomers -- are building upon ideas that have been around for decades. We work with our partners to give consumers innovative and affordable products, and we don’t want anything to limit that.”</h2></div>
                            </div>
                        </div>


                        <div class="merits-container" data-reactid="250">
                            <div class="merits-content" data-reactid="251">
                                <div class="merit-intro sol-circle-item circle-item" data-reactid="252">
                                    <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="253">
                                        <circle class="circle" cx="125" cy="125" r="125" data-reactid="254"></circle>
                                    </svg>
                                    <div class="sol-circle-content" data-reactid="255">
                                        <h4 class="sol-circle-content" data-reactid="256">Over the mantle</h4></div>
                                </div>
                                <div class="merit sol-circle-item circle-item circle-1" data-reactid="257">
                                    <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="258">
                                        <circle class="circle" cx="125" cy="125" r="125" data-reactid="259"></circle>
                                    </svg>
                                    <div class="sol-circle-content" data-reactid="260">
                                        <div class="sol-circle-content" data-reactid="261">
                                            <span data-reactid="262">
                                              <span data-reactid="151">
                                                Close to <span class="inner_text_cl">two decades </span>in <span class="inner_text_cl">cross border distribution </span></span></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="merit sol-circle-item circle-item circle-2" data-reactid="264">
                                    <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="265">
                                        <circle class="circle" cx="125" cy="125" r="125" data-reactid="266"></circle>
                                    </svg>
                                    <div class="sol-circle-content" data-reactid="267">
                                        <div class="sol-circle-content" data-reactid="268">
                                          <span data-reactid="145">
                      Local presence in  <span class="inner_text_cl"> 21 countries </span>across <span class="inner_text_cl">5 continents </span></span>
                                            <div data-reactid="269"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="merit sol-circle-item circle-item circle-3" data-reactid="271">
                                    <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="272">
                                        <circle class="circle" cx="125" cy="125" r="125" data-reactid="273"></circle>
                                    </svg>
                                    <div class="sol-circle-content" data-reactid="274">
                                        <div class="sol-circle-content" data-reactid="275">
                                            <span data-reactid="276">
                                              <span data-reactid="163">
                             <span class="inner_text_cl"> Operating </span>in more than  <span class="inner_text_cl">100 countries </span></span></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="merit sol-circle-item circle-item circle-4" data-reactid="278">
                                    <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" data-reactid="279">
                                        <circle class="circle" cx="125" cy="125" r="125" data-reactid="280"></circle>
                                    </svg>
                                    <div class="sol-circle-content" data-reactid="281">
                                        <div class="sol-circle-content" data-reactid="282">
                                            <span data-reactid="283">
                                              <span data-reactid="157">
                                         <span class="inner_text_cl"> Processed </span>over <span class="inner_text_cl"> 30 million devices</span></span><!-- <img src="assets/img/grey_logo/emax-750x430.png" alt="" class="img_inside" data-reactid="164"> --></span>

                                        </div>
                                    </div>
                                </div>


                              </div>
                              </div>


        </div>
        </div>
        </div>


      <!-- The Modal -->



        <footer class="app-footer inverse-theme"  id="includedContent">
            <div class="footer-container" data-reactid="286">
                   <div class="grid navigation-menu" data-reactid="287">
                      <div class="col-4" data-reactid="288">
                         <a class="" data-gtm-name="nav-home" routerLink = "/" data-reactid="289">
                           <img src = "assets/img/logo_white.png"  class="mobile_img_width"/>
                         </a>
                      </div>
                      <div class="col-4" data-reactid="291"></div>
                      <div class="col-4" data-reactid="292">
                         <a class="back-to-top" data-gtm-name="footer-back-to-top" data-reactid="293" (click)="onActivate($event)">
                            <!-- react-text: 294 -->Back to top <!-- /react-text --><span id="return-to-top" class="up-arrow" data-reactid="295"></span>
                         </a>
                      </div>
                   </div>
                   <div class="grid primary-menu" data-reactid="296">
                      <div class="col-12_md-5" data-reactid="297">
                         <div data-reactid="298">
                            <h4 data-reactid="299">Contact</h4>
                            <p class="footer-caption" data-reactid="300">Have a question, idea<br>or want to work together?</p>
                            <div data-reactid="301">
                                <a data-gtm-name="footer-contact-us" title="Contact Us"
                                 class="button primary inverse" (click)="onActivate($event)"
                                  routerLink = "/contactus" data-reactid="302"><span data-reactid="303">Contact Us</span>
                                </a>
                                <a data-gtm-name="footer-contact-us" title="Contact Sales"
                                class="button primary inverse" (click)="onActivate($event)" routerLink = "/contactsales"
                                 data-reactid="302"><span data-reactid="303">Contact Sales</span>
                               </a>
                            </div>

                        </div>
                      </div>
                      <div class="col-12_md-7 grid primary-menu-columns" data-reactid="304">
                         <div class="col-6_sm-4" data-reactid="305">
                            <h4 data-reactid="306">Company</h4>
                            <ul data-reactid="307">
                               <li class="menu-item footer-item" data-reactid="308"><a data-gtm-name="footer-our-team" title="Our Team" class="button text inverse" (click)="onActivate($event)" routerLink = "/globalreach" data-reactid="309"><span data-reactid="310">Global Reach</span></a></li>
                               <!--<li class="menu-item footer-item" data-reactid="311"><a data-gtm-name="footer-our-story" title="Our Story" class="button text inverse" (click)="onActivate($event)" routerLink = "/ourteam" data-reactid="312"><span data-reactid="313">Our Team</span></a></li>-->
                          <!--      <li class="menu-item footer-item" data-reactid="314"><a data-gtm-name="footer-our-locations" title="Our Locations" class="button text inverse" href="https://www.axiomlaw.com/about-us/global-reach" data-reactid="315"><span data-reactid="316">Our Locations</span></a></li> -->
                            </ul>
                         </div>
                         <div class="col-6_sm-5" data-reactid="317">
                            <h4 data-reactid="318">What We Do</h4>
                            <ul data-reactid="319">
                               <li class="menu-item footer-item" data-reactid="320"><a data-gtm-name="footer-talent-platform" title="Carriers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="321"><span data-reactid="322">Carriers</span></a></li>
                               <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Retailers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Retailers</span></a></li>
                                <li class="menu-item footer-item" data-reactid="323"><a data-gtm-name="footer-regulatory-response" title="Manufacturers" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="324"><span data-reactid="325">Manufacturers</span></a></li>
                               <li class="menu-item footer-item" data-reactid="326"><a data-gtm-name="footer-m&amp;a-diligence-&amp;-integration" title="Distributors" class="button text inverse" (click)="onActivate($event)" routerLink = "/whatWeDo" data-reactid="327"><span data-reactid="328">Distributors</span></a></li>
                            </ul>
                         </div>
                 <div class="col-6_sm-3 jobs-section" data-reactid="329">
                            <h4 data-reactid="330">Jobs</h4>
                            <p data-reactid="331">Find your place on our&nbsp;team.</p>
                            <a data-gtm-name="footer-search-jobs" title="Search Jobs" class="button text cta inverse" (click)="onActivate($event)" routerLink = "/careers" data-reactid="332"><span data-reactid="333">Search Jobs</span></a>
                         </div>
                      </div>
                   </div>
                   <div class="grid-noGutter secondary-menu" data-reactid="334">
                      <ul class="col-12_md-8_sm-4 secondary-menu-links" data-reactid="335">
                         <li class="menu-item copyright" data-reactid="336">
                            <!-- react-text: 337 -->©<!-- /react-text --><!-- react-text: 338 -->2018<!-- /react-text --><!-- react-text: 339 --> Mercantile All Rights Reserved.<!-- /react-text -->
                         </li>
                  <li class="menu-item" data-reactid="340"><a data-gtm-name="footer-privacy-policy" title="Privacy Policy" class="button nav" (click)="onActivate($event)" routerLink = "/cookiepolicy" data-reactid="341"><span data-reactid="342">Cookie Policy</span></a></li>
                         <li class="menu-item" data-reactid="343"><a data-gtm-name="footer-code-of-conduct" title="Code of Conduct" class="button nav" (click)="onActivate($event)" routerLink ="/termscondtions"  data-reactid="344"><span data-reactid="345">Terms and Conditions</span></a></li>

                      </ul>


             <div class="social-channels mob_space col-12_md-4_sm-8" data-reactid="348">
     <ul data-reactid="349">
         <li data-reactid="350">

              <a href="https://www.facebook.com/MercantilePacificPteLtd/" target = "_blanck" class="fa fa-facebook"></a>

         </li>
         <li data-reactid="354">

             <a href="https://www.linkedin.com/company/13698015/"  target = "_blanck" class="fa fa-linkedin"></a>

         </li>
         <li data-reactid="358">

              <a href="https://twitter.com/mercantileltd" target = "_blanck" class="fa fa-twitter"></a>

         </li>

     </ul>
   </div>
 </div>
                </div>
             </footer>



</div>



</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closePopup()">&times;</span>
        <iframe class="embed-responsive-item" style="width:100%;height:400px;" src="https://www.youtube.com/embed/EzrcapaIyLw?autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<button id="myBtn" (click)="videoPopup()">Click Here <i class="fa fa-video-camera"></i></button>
