@media screen and (min-width:1080) and (max-width:1920){
    .text-div2 {
       width:100%;
    }
}
@media screen and (min-width:641px) and (max-width:940px) {
    .modal-content {width:75%;}
}
@media screen and (min-width:320px) and (max-width:640px) {
    .modal-content {width:100%;}
    .embed-responsive-item {height:350px !important;}
}
