.form-container{
    border: 1px solid #71bf44;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: px;
}
p{
    margin: 10px 0;
}
.right-text p{
    font-size: 22px;
}
.text-left h1{
    font-weight: 400 !important;
}