.freebirdFormviewerViewEmbedded .freebirdFormviewerViewAccentBanner {
  
    height: 0px !important;
   
  }
  .freebirdSolidBackground{
     background-color: none !important;
  }
      .probootstrap-intro {
     height: 300px;

  }

  .probootstrap-intro h1 {
    font-size: 40px;
  }
  body{
    background:#eee;
}
  .probootstrap-intro:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    content: "";
    /* background: #00417d; */
    background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(100%, white));
    background: -webkit-gradient(linear, left top, right top, from(white), to(white));
    background: linear-gradient(to right,white 0,white 100%);
    opacity: 0;
  }
  .probootstrap-contact-info, .with-icon {
    padding: 0px !important;
    margin: 0px !important;
  }
  .about_points p i {
    color: red;
    padding-right: 5px;
  }
  .about_points p{
    color: #424242;
    font-weight: 400;
  }
  .bestPrice h2{
        font-weight: 500;
    border-bottom: 1px solid #ddd;
    margin-bottom: 28px;
  }
  .about-offer-imaOuterDiv{
    position: absolute;
    width:100%;
   top:188px;
  }
  .about-offer-imaOuterDiv h2{
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  .about-offer_img {
        text-align: center;
    top: 70%;
    width: 300px;
     margin: 0 auto;
    display: block;

 
  }
  .about-offer_img_next{
  
        background: url(https://www.mindmeister.com/blog/wp-content/uploads/2014/11/creativity_fb_post_final.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
  }
  @media screen and (max-width: 1024px){
      .about-offer_img_next{
    margin-top: 18%;
  }
  }
  .col-sm-6{
    width:50%;
  }
   @media screen and (min-width:320px) and (max-width: 640px){
      .about-offer_img_next{
    margin-top: 30%;
  }
  .about-offer-imaOuterDiv {
    top: 218px;
  }
  .about-offer_img {
    width: 200px;
  }
  .col-sm-6{
    width:100%;
  }
  }
  @media screen and (min-width: 1920px){
      .about-offer_img_next{
    margin-top: 8%;
  }
  }
  .twogridsec{
    margin: 3% 0%;
  }